<div class="card">
    <h1>Top 6 Places To Visit In Haryana</h1>
    <p>Whether you are a believer in God or non-believer, <i>‘The Abode of God’</i>, as <b>Haryana</b> is famously referred to, might make you think if there is a god, he might probably be here. The land is so ancient, which can be gauged by the fact that this was the place where Veda Vyasa, the saint, wrote the famous epic Mahabharata. The place gains more importance for those following religious faith as being the land where Lord Krishna is said to have uttered the famous saying, “Do your duty and be detached from results” to Arjuna, one of the Pandava brothers on the eve of Mahabharata war.</p>
    <p>Haryana has more to offer. Also known as the Green Land of India, Haryana not only has a rich past but a great present and a promising future too. This 16th largest state in India ranks amongst the leading industrialized states in the country. It is a major producer and supplier of agricultural products in India. Here are the <b>leading attractions in the land you would never want to miss on your tour to Haryana.</b></p>

    <h2>1. Chandigarh</h2>
    <img src=".\assets\Haryana\chandigarh.jpg" alt="Chandigarh">
    <ul>
        <li>Leisure Valley</li>
        <li>The Rock Garden</li>
        <li>Le Corbusier Centre</li>
        <li>Morni Hills</li>
        <li>Government Museum and Art Gallery</li>
        <li>Shanti Kunj</li>
        <li>Butterfly Park</li>
        <li>Garden of Fragrance</li>
        <li>Sarkaria Cactus Garden</li>
        <li>Rose Garden</li>
        <li>Mahendra Chaudhary Zoological Park</li>
        <li>Chhatbir Zoo</li>
        <li>Terraced Garden</li>
        <li>Yadvinder Garden</li>
        <li>International Dolls Museum</li>
    </ul>

    <h2>2. Gurgaon</h2>
    <img src=".\assets\Haryana\Kingdom-of-Dreams-Gurgaon.jpg" alt="Kingdom-of-Dreams-Gurgaon">   
    <p><strong>Gurgaon</strong> is the second largest city in the state of Haryana. The land has spiritual importance as it finds place in Mahabharata. It adds to Haryana’s overall contribution in industrial sector with its amazing infrastructure. No wonder it has emerged as the state’s corporate capital. The tourist attractions in Gurgaon include the following.</p>
    <ul><li>Sultanpur National Park Bird Sanctuary</li><li>Leisure Valley Park</li><li>Damdama Lake</li><li>Badshahpur Fort</li><li>Begum Samru Palace</li><li>Farrukh Nagar Fort</li><li>Sohna</li><li>Sheesh Mahal</li><li>Tikli Bottom</li><li>Kingdom of Dreams</li><li>Wet ‘n’ Wild</li><li>Urusvati Museum of Folklore</li><li>Stellar Children’s Museum</li><li>Aapno Ghar Amusement Park</li><li>Shikhar Adventure Park</li><li>CRPF Shooting Range</li><li>Ambience Mall</li></ul>

    <h2>3. Kurukshetra</h2>
    <img src=".\assets\Haryana\kurukshetra.jpg" alt="Kurukshetra">
    <p></p>
    <p><strong>Kurukshetra</strong> is a popular pilgrim destination as this ancient land was the battleground of the famous Mahabharata war. Dating back to 2800 BC, the land is where Lord Krishna preached Bhagavad Gita to Arjuna on the eve of the epic war. Here are the leading tourist attractions in Kurukshetra.</p>
    <ul><li>Brahma Sarovar</li><li>Sannihit Sarovar</li><li>Sheikh Chehlli Tomb</li><li>Kurukshetra Panorama &amp; Science Centre</li><li>Dharohar Haryana Museum</li><li>Kalpana Chawla Planetarium</li><li>Bhadrakali Temple</li><li>Birla Mandir</li><li>Sri Krishna Museum</li><li>Jyotisar Birthplace of Bhagavad Gita</li><li>O. P. Jindal Park and Musical Fountain</li></ul>

    <h2>4. Panipat</h2>
    <img src=".\assets\Haryana\panipat.jpg" alt="Panipat">
    <p></p>
    <p>Situated on River Yamuna banks, <strong>Panipat</strong> finds mention in Mahabharata as one of the five cities founded by the five Pandava brothers. Its historical importance extends beyond Mahabharata as the place witnessed three crucial battles in the history of India. The tourist attractions in Panipat are given below.</p>
    <ul><li>Panipat Museum</li><li>Kabuli Bagh</li><li>Old Fort</li><li>Salar Gunj Gate</li><li>Kabuli Shah Mosque</li><li>Devi Temple</li><li>Grave Of Ibrahim Lodhi</li><li>Bu Ali Shah Kalandar</li><li>Kala Amb Tree Site</li></ul>

    <h2>5. Hisar</h2>
    <img src=".\assets\Haryana\great-temple-in-agroha-hisar.jpg" alt="Hisar">
    <p></p>
    <p><strong>Hisar</strong> is yet another part of Haryana that boasts of rich historic association. The land has evidences of being home to pre-historic man. The monuments here are feast to those who love to have a feel of the bygone era. Here are the top tourist destinations in Hisar.</p>
    <ul><li>Agroha</li><li>Banavali</li><li>Kunal</li><li>Gumbad</li><li>Jahaj Kothi</li><li>Barsi Gate</li><li>Fort Of Prithviraj</li><li>Feroze Shah Palace</li><li>Gujri Mahal</li><li>Lat Ki Masjid</li><li>Durgah Char Qutab</li><li>Town Park</li><li>Devi Bhawan Mandir</li></ul>

    <h2>6. Faridabad</h2>
    <img src=".\assets\Haryana\faridabad.jpg" alt="Faridabad">
    <p></p>
    <p><strong>Faridabad</strong> is the biggest city in the state of Haryana. It is ranks amongst the leading industrial hubs making a fat contribution to the state’s revenue. Though the city is not as ancient as some of the major cities in Haryana, it has its share in history. Given below are some of the tourist spots in Faridabad.</p>
    <ul><li>Surajkund</li><li>Badkhal Lake</li><li>Peacock Lake</li><li>Dhauj Lake</li><li>Raja Nahar Singh Palace</li><li>Camp Wild</li><li>Nepal Photography Day Tours</li><li>The Aravalli Golf Course</li></ul>
    
</div>