<div class="card">
    <h1>5 Attractive Places In Assam That Will Keep You Spellbound</h1>
    <p>If you are looking for variety while choosing your holiday destination, Assam could be the perfect spot. Be it the natural scenery or culture of the people of Assam, you are sure to be awed by the variety and color Assam has to offer. People belonging to various cultures and races live here. The land has people following various faiths. Assam is home for various crafts as well. Though the picturesque state has so much to offer, ensure that you do not miss the top 5 places to visit in Assam.</p>
    <h2>1. Guwahati</h2>
    <img src=".\assets\Assam\guwahati.jpg" alt="Guwahati">
    <h4>Visitor’s Information:    </h4>
    <ul>
        <li><b>Famous for: </b>Wildlife, Temples, Culture.</li>
        <li><b>Major Attractions: </b>Kaziranga National Park, Kamakhya Temple.</li>
        <li><b>Nearby Place: </b>Tezpur.</li>
        <li><b>Ideal Visit Time: </b>2 days.</li>
    </ul>
    <h4>About Guwahati</h4>
    <p>Situated on the banks of Brahmaputra river, <b>Guwahati</b> is one of the fastest growing cities in India. Being the gateway to many other places in North East, it also an tourist hub. The ancient temples dotting the cityscape, the wildlife sanctuaries, scenic beauty of Brahmaputra and its culture makes it one of the most visited tourist places in North East India. There is something for everyone here – from families to motorbike enthusiasts, no one leaves disappointed from Guwahati.</p>
    <h4>Places to Visit</h4>
    <ul>
        <li>Kaziranga National Park        </li>
        <li>Manas National Park        </li>
        <li>Umananda Temple        </li>
        <li>Kamakhya Temple        </li>
        <li>Assam Rajyik State Museum        </li>
        <li>Guwahati Planetarium        </li>
        <li>Navagraha Temple        </li>
        <li>Nehru Park        </li>
        <li>Brahmaputra River Cruise        </li>
    </ul>
    <h4>How to Reach</h4>
    <ul>
        <li><b>Air: </b></li>
        <p>Lokpriya Gopinath Bordoloi Airport, about 23 kms away from Guwahati is the closest airport. Take a cab from the airport itself to any part of the city.        </p>
        <li><b>Rail: </b></li>
        <p>Guwahati Railway Station (GHY) in the city is connected to all major cities of India. Take a cab, auto or bus from the station to any part of the city.        </p>
        <li><b>Road: </b></li>
        <p>State buses run from nearby north eastern states at good frequency. The national highways connecting Guwahati to West Bengal and other places in north east are NH 31 and NH 37.        </p>
    </ul>

    <h2>2. Jorhat</h2>
    <img src=".\assets\Assam\jorhat.jpg" alt="Jorhat">
    <h4>Visitor Information:</h4>
    <ul>
        <li><b>Famous for: </b>History, Nature, Heritage, Culture, Vaishnavite.</li>
        <li><b>Major Attractions: </b>Majuli and Dhekiakhowa Bornaamghar.</li>
        <li><b>Nearby Place: </b>Tezpur, Dibrugarh.</li>
        <li><b>Ideal Visit Time: </b>2-3 days.</li>
    </ul>
    <h4>About Jorhat</h4>
    <p><b>Jorhat</b> is a perfect amalgamation of history, culture and natural beauty. This place has many attractions holding both national and international importance. <b>Majuli</b> located about 20 kms from Jorhat is an ecological hotspot and world’s largest river island. <b>Jorhat Gymkhana Club</b>> is the first to be ever built in Asia and is also the third oldest in the whole world. A visit here would surely provide everyone with lifetime memories and therefore do add this scenic beauty on your list, while visiting Assam.</p>
    <h4>Places to Visit</h4>
    <ul>
        <li>Majuli Island        </li>
        <li>Gibbon Wildlife Sanctuary        </li>
        <li>Kakochang Waterfalls        </li>
        <li>Gymkhana Club        </li>
        <li>Tocklai Tea Research Centre        </li>
        <li>Sukapha Samannay Kshetra        </li>
        <li>Bangalpukhari        </li>
        <li>Cinnamora Tea Estate        </li>
        <li>Lachit Borphukan’s Maidam        </li>
        <li>Thengal Bhavan        </li>
    </ul>
    <h4>How to Reach</h4>
    <ul>
        <li><b>Air: </b></li>
        <p>The nearest domestic airport is Jorhat Airport and has flights from Kolkata, Guwahati, Delhi and Bangalore. Take a cab from here to Jorhat.        </p>
        <li><b>Rail: </b></li>
        <p>Jorhat Town railway station (JTTN) is the nearest railway station with connectivity from all north eastern states. The nearest major railway junction having the best connectivity is New Tinsukia Junction railway station (NTSK), about 4 hours away . Take a cab, auto or bus from the station to Jorhat.        </p>
        <li><b>Road: </b></li>
        <p>State buses run from nearby north eastern states at good frequency. The national highways connecting Jorhat is NH 715.        </p>
    </ul>

    <h2>3. Tezpur</h2>
    <img src=".\assets\Assam\Tezpur.jpg" alt="Tezpur">
    <h4>Visitor Information:</h4>
    <ul>
        <li><b>Famous for: </b>Nature, Brahmaputra, Culture</li>
        <li><b>Major Attractions: </b>Agnigarh, Kolia Bhomora Setu.</li>
        <li><b>Nearby Place: </b>Guwahati, Jorhat, Diphu.</li>
        <li><b>Ideal Visit Time: </b>1 day.</li>
    </ul>
    <h4>About Tezpur</h4>
    <p>One of the most beautiful cities in Assam, <b>Tezpur</b>> is another major tourist place in Assam due to its scenic natural beauty. The river Brahmaputra flowing through the city, further adds to the beauty of this place. Tezpur is also the cultural hub of Assam because of its theatre, traditional dances and cultural events. The tea estates around the city are also another attraction here.</p>
    <h4>Places to Visit</h4>
    <ul>
        <li>Nameri National Park        </li>
        <li>Agnigarh        </li>
        <li>Bamuni Hills        </li>
        <li>Bura-Chapori Wildlife Sanctuary        </li>
        <li>Chitralekha Udyan        </li>
        <li>Da-Parbatia        </li>
        <li>District Museum</li>
        <li>Ouguri Hill        </li>
        <li>Padum Pukhuri        </li>
    </ul>
    <h4>How to Reach</h4>
    <ul>
        <li><b>Air: </b></li>
        <p>The domestic airport in Tezpur, Salonibari Airport has flights from Kolkata, Guwahati and Jorhat. The nearest international airport with the best connectivity is Lokpriya Gopinath Bordoloi Airport, about 176 kms (4 hours) away. Take a cab from here to Tezpur.        </p>
        <li><b>Rail: </b></li>
        <p>Rangapara North Railway Station (RPAN) is the nearest railway station with connectivity from all North Eastern states. The nearest major railway junction having the best connectivity is Guwahati Railway Station (GHY), about 176 kms (4 hours) away . Take a cab, auto or bus from the station to Tezpur.        </p>
        <li><b>Road: </b></li>
        <p>State buses run from nearby north eastern states at good frequency. The national highways connecting Tezpur are NH 15 and NH 27.        </p>
    </ul>
    <h2>4. Digboi</h2>
    <img src=".\assets\Assam\Digboi.jpg" alt="Digboi">
    <h4>Visitor Information:</h4>
    <ul>
        <li><b>Famous for: </b>Refinery, Oil Rig.</li>
        <li><b>Major Attractions: </b>Digboi Oil Refinery.</li>
        <li><b>Nearby Place: </b>Dibrugarh.</li>
        <li><b>Ideal Visit Time: </b>Less than a day.</li>
    </ul>
    <h4>About Digboi</h4>
    <p>Asia’s first oil refinery, which is the second in world, is in Digboi. The oil town not only has refinery, which is over 100 years old but also has number of tea gardens. The place with misty blue hills offers various attractions including Digboi Oil Refinery, Ridge Point and Digboi Centenary Museum. From Ridge Point, you could have a stunning view of snow-clad mountains of eastern Himalayas. Digboi Centenary Museum gives you an insight into the history of the town.</p>
    <h4>Places to Visit</h4>
    <ul>
        <li>Nameri National Park        </li>
        <li>Agnigarh        </li>
        <li>Bamuni Hills        </li>
        <li>Bura-Chapori Wildlife Sanctuary        </li>
        <li>Chitralekha Udyan        </li>
        <li>Da-Parbatia        </li>
        <li>District Museum        </li>
        <li>Ouguri Hill        </li>
    </ul>
    <h4>How to Reach</h4>
    <ul>
        <li><b>Air: </b></li>
        <p>The nearest domestic airport is Dibrugarh Airport about 73 kms (2 hours) away. It has flights from Kolkata, Guwahati and Delhi. Take a cab from here to Digboi.        </p>
        <li><b>Rail: </b></li>
        <p>Digboi Railway Station (DBY) is the nearest railway station with connectivity from all north eastern states. The nearest major railway junction having the best connectivity is New Tinsukia Junction railway station (NTSK), about 1 hour away . Take a cab, auto or bus from the station to Tezpur.        </p>
        <li><b>Road: </b></li>
        <p>State buses run from nearby north eastern states at good frequency. The national highways connecting Digboi are NH 15 and NH 215.        </p>
    </ul>
    <h2>5. Diphu</h2>
    <img src=".\assets\Assam\diphu-hills.jpg" alt="Diphu">
    <h4>Visitor Information:</h4>
    <ul>
        <li><b>Famous for: </b></li>
        <li><b>Major Attractions: </b></li>
        <li><b>Nearby Place: </b></li>
        <li><b>Ideal Visit Time: </b></li>
    </ul>
    <h4>About Diphu</h4>
    <p><b>Diphu</b>> is situated in Karbi Anglong district in Assam. The town has various tourist attractions. If you love nature, you would love Arboretum, which is located near Diphu. The <b>13-hectare</b>> lush greenery offers spectacular views, which soothes your mind. <b>Botanical Garden</b>>, which is a 5 km distance from Diphu, houses a variety of species of trees and plants. <b>Boating facilities</b>> are available here. If you are keen to learn about the cultural past of the town, you need to visit <b>District Museum</b>>. The museum was founded in 1886 and it displays artifacts that have archaeological importance and represent the culture of the land. You could find hunting tools used by the tribes here.</p>
    <h4>Places to Visit</h4>
    <ul>
        <li>Botanical Garden        </li>
        <li>District Museum        </li>
        <li>Arboretum        </li>
        <li>Taralangso Cultural Centre        </li>
        <li>Umwang        </li>
    </ul>
    <h4>How to Reach</h4>
    <ul>
        <li><b>Air: </b></li>
        <p>The nearest domestic airport is Dimapur Airport about 61 kms (approx 2 hours) away. It has flights from Kolkata and Delhi. Take a cab from here to Diphu.        </p>
        <li><b>Rail: </b></li>
        <p>Diphu railway station (DBU) is the nearest railway station with connectivity from all north eastern states. Take a cab, auto or bus from the station to Diphu.        </p>
        <li><b>Road: </b></li>
        <p>State buses run from nearby north eastern states at good frequency. The national highway connecting Digboi is NH 329.        </p>
    </ul>
</div>