<div class="card">
    <h1>Top 5 Places To Visit In West Bengal</h1>
    <p><strong>West Bengal</strong>, situated in eastern India, is a land with a rich diversity. Home to different civilizations and known for its cultural diversity, West Bengal has a great history too. Bengal is mentioned in the epic Mahabharata. Thanks to its geographical location stretching from the great Himalayas to Bay of Bengal, the state has spectacular landscapes to captivate your souls. Here are the <strong>top 5 destinations in West Bengal</strong></p>

    <h2>1. Kolkata</h2>
    <img src=".\assets\WBengal\Victoria-Memorial-Hall-Kolkata-India.jpg" alt="Victoria-Memorial-Hall">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous For:&nbsp;</strong>Culture, History, Festivals.</li><li><strong>Major Attraction:&nbsp;</strong>Howrah Bridge.</li><li><strong>Nearby Places:&nbsp;</strong>Midnapore, Hooghly.</li><li><strong>Ideal Visit Time:&nbsp;</strong>2-3 days.</li></ul>
    <p><strong>Dharmanagar</strong>&nbsp;is the second largest city in Tripura and one of the most beautiful cities in India. It has a rich past, which is evident from the historic monuments and palaces found here. If you love history and are passionate about visiting ancient places, you would love your visit to Dharmanagar, where historic ruins take you to the past. Here are the top destinations in Dharmanagar.</p>
    <p><strong>Kolkata</strong>, the capital of West Bengal, is the largest metropolitan city in India. This ancient city is considered to be inhabited for more than two thousand years and it is evident from its rich cultural background and diverse ethnicity. Here are some important tourist attractions in Kolkata.</p>
    <p><strong>Places To Visit</strong></p>
    <ul><li>Howrah Bridge</li><li>Jorasanko Thakurbari</li><li>Park Street</li><li>Indian Museum</li><li>Victoria Memorial</li><li>Dakshineswar Kali Temple</li><li>St. Paul’s Cathedral, Kolkata</li><li>Kalighat Kali Temple</li><li>Science City Kolkata</li><li>Mother House</li></ul>

    <h2>2. Darjeeling</h2>
    <img src=".\assets\WBengal\Darjeeling.jpg" alt="Darjeeling">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous For:&nbsp;</strong>Tea, Nature, Landscapes.</li><li><strong>Major Attraction: </strong>Darjeeling Himalayan Railway.</li><li><strong>Nearby Places:&nbsp;</strong>Siliguri, Kalimpong</li><li><strong>Ideal Visit Time:&nbsp;</strong>2 days.</li></ul>
    <p><strong>Darjeeling</strong> is the most perfect place to unwind on your holiday. Snow clad mountains, lush greenery and the stunning views of Himalayas make the place a heaven on earth. The entire land is colorful and picture perfect with green tea leaves, red rhododendrons, white magnolias, birds of different species and snow-covered peak of Kanchenjunga. Here are the top destinations in Darjeeling.</p>
    <p><strong>Places To Visit</strong></p>
    <ul><li>Darjeeling Himalayan Railway</li><li>Singalila National Park</li><li>Padmaja Naidu Himalayan Zoological Park</li><li>Tiger Hill</li><li>Observatory Hill</li><li>Happy Valley Tea Estate</li><li>Japanese Peace Pagoda</li><li>Neora Valley National Park</li><li>Mirik</li><li>Rock Garden</li></ul>

    <h2>3. Bankura</h2>
    <img src=".\assets\WBengal\Bankura.jpg" alt="Bankura">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous For:&nbsp;</strong>History, Art, Culture.</li><li><strong>Major Attraction:&nbsp;</strong>Biharinath Hill</li><li><strong>Nearby Places:&nbsp;</strong>Kharagpur, Durgapur.</li><li><strong>Ideal Visit Time:&nbsp;</strong>1 day.</li></ul>
    <p><strong>Bankura</strong> is on the west of the state of West Bengal. Apart from the historic side, Bankura has an artistic face too. It has tourist attractions that boast of its historical importance and destinations that challenge you to trek and hike. Here are some leading destinations in Bankura.</p>
    <ul><li>Biharinath Hill</li><li>Susunia Hills</li><li>Mukutmonipur Dam</li><li>Rasmancha</li><li>Garh Darwaja</li><li>Krishna-Balaram Temple</li><li>Ganesh and Nandi Statue</li></ul>

    <h2>4. Hooghly</h2>
    <img src=".\assets\WBengal\Hooghly.jpg" alt="Hooghly">
    <p><strong>Hooghly</strong> is an interesting tourist destination for various reasons. It is considered sacred as it is where Sri Ramakrishna Paramahamsa and Sarada Devi stayed for many years; it has historic significance as it bears the influences of Portuguese, French and the Dutch. Here are some important tourist destinations in Hooghly.</p>
    <p><strong>Places To Visit</strong></p>
    <ul><li>Chandannagar Museum</li><li>Serampore</li><li>Bhadreswar</li><li>Tarakeshwar Temple</li><li>Hooghly Imambara</li><li>Hangseshwari Temple</li><li>Deer Park</li><li>Sri Ramakrishna Math</li><li>Garh Mandaran</li></ul>

    <h2>5. Barrackpore</h2>
    <img src=".\assets\WBengal\Barrackpore.jpg" alt="Barrackpore">
    <p><strong>Barrackpore</strong>, the land rich in natural beauty, is of high historical importance too. It was here where the famous Sepoy Mutiny originated. Its prominent role in freedom fight has earned Barrackpore a special place and it is frequented by tourists in great numbers. Here are the top destinations in the land.</p>
    <p><strong>Places To Visit</strong></p>
    <ul><li>Mangal Pandey Park</li><li>Gandhi Museum</li><li>Jawahar Kunj Garden</li><li>Gandhi Ghat</li><li>Bartholomew Cathedral</li><li>Indira Gandhi Water Treatment Plant</li><li>Kali Temple</li><li>Tarakeswar Temple</li></ul>
    
</div>