<div class="container mx-auto py-4">
    <h1>About Us</h1>
<p>Founded in the year 2021 as TourInIndia.com, an online travel platform, the company boosted as a private limited in the year 2013 and has emerged as the “Best Upcoming Inbound Tour Operators in India”. It has been awarded in the category of “Excellence in the Tourism Industry” by World Tourism Brand Academy.

</p>

<h4>Why Us?</h4>
<p>Tour My India Pvt. Ltd. is an award winning travel organization and excels with quality services from its experienced staffs. Over the years the company has received positive feedbacks from its existing clients and hence one can expect a cordial reception.</p>

<h4>Our Motto:</h4>
<p>Customer Satisfaction</p>
<p>Quality</p>
<p>Services</p>

<h4>What We Provide:</h4>
<ul>
    <li>Personalized assistance on arrival &amp; departure.</li>
    <li>All sorts of transfer from car to coach in any city in India.</li>
    <li>Accommodation in all categories of hotels from budget to 5 Star hotels all over India.</li>
    <li>Multilingual guide services.</li>
    <li>Escort services.</li>
    <li>Air, train and bus tickets.</li>
    <li>Sightseeing in comfortable chauffeur driver cars to coaches.</li>
    <li>Special cultural theme events if any</li>
</ul>

<h2>Contact Us For Personalized Trips and Travels!</h2>
</div>