<div class="card">
    <h1>Top 6 Places To Visit In Himachal Pradesh</h1>
    <p>If you like anything and everything about snow, you may be inspired by the meaning of the word Himachal. ‘The land of snows’, the meaning, is adequate to give you an idea of what to expect here. Himachal Pradesh is located in the western Himalayas. Surrounded by majestic mountains, out of which some still challenge mankind to conquer them, the beauty of the land is beyond imagination. Shimla, one of the most captivating hill stations, is the capital of the state. Given below are the top 6 places to visit in Himachal Pradesh.</p>
    <p></p>

    <h2>1. Kullu</h2>
    <img src=".\assets\Himachal\kullu-1.jpg" alt="Kullu">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Great Himalayan Ranges, Nature, Hill station, Temples.</li><li><strong>Major Attractions: </strong>Bijli Mahadev Temple, Raghunath Temple.</li><li><strong>Nearby Places: </strong>Manali, Kasol, Manikaran.</li><li><strong>Ideal Visit Time: </strong>1- 2 days.</li></ul>
    <p><strong>About Kullu</strong></p>
    <p><strong>Kullu</strong> in Himachal Pradesh is one of the most frequented tourist destinations. Often heard along with the name Manali, yet another famous tourist spot, Kullu is situated on the banks of Beas River. It was earlier called as Kulanthpitha, meaning ‘The end of the habitable world’. Awe-inspiring, right? Kullu valley is also known as the ‘Valley of Gods’.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Basheshwar Mahadev Temple</li><li>Sultanpur Palace</li><li>Parvati Valley</li><li>Great Himalayan National Park</li><li>Kasol</li><li>Bijli Mahadev Temple</li><li>Manikaran</li><li>Bhrigu Lake</li></ul>
    <p>The attractions in Kullu are more. Trekking, mountaineering, angling, skiing, white water rafting and para gliding are some of the adventurous sports available here.</p>
    <p><strong>How to Reach</strong></p>
    <ul><li><strong>Air:</strong></li></ul>
    <p>The nearest airport is Kullu–Manali Airport but it has limited accessibility and its operations are irregular. Chandigarh is the next nearest airport with better connectivity. It takes about 6 hr 48 min (269.3 km) from here to Kullu via road.</p>
    <ul><li><strong>Rail:</strong></li></ul>
    <p>The nearest railway station is Joginder Nagar (JDNX) located 95 kms away and is a narrow broad gauge. Therefore it is not accessible from all major cities. Chandigarh Junction railway station (CDG) is the nearest major railway station with good connectivity from all the major northern cities. From here bus or private cabs can be taken to Kullu 269.3 km away.</p>
    <ul><li><strong>Road:</strong></li></ul>
    <p>Himachal Road Transport Corporation (HRTC) operates regular buses to and from Kullu to other cities in HP. Buses are also available from Delhi, Pathankot, Chandigarh. Jammu- Delhi highway, NH 154, NH205 connects Kullu.</p>

    <h2>2. Manali</h2>
    <img src=".\assets\Himachal\manali.jpeg" alt="Manali">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Great Himalayan Ranges, Nature, Hill station, Adventure sports.</li><li><strong>Major Attractions: </strong>Hidimba Devi Temple, Rohtang Pass, Solang Valley.</li><li><strong>Nearby Places: </strong>Kullu, Lahaul and Spiti Valley.</li><li><strong>Ideal Visit Time: </strong>2 days.</li></ul>
    <p><strong>About Manali</strong></p>
    <p>Located at an altitude of 6726 feet, <strong>Manali</strong> offers splendid views of the snow-capped mountains. The land is not just a feast to your visual senses; it also offers you the chance to ascertain your fitness level with the sporting facilities here. Given below are some top destinations in Manali for you to enjoy and bring out the adventurer in you.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Rohtang Pass</li><li>Solang valley</li><li>Hadimba Devi Temple</li><li>Vashist Hot Water Springs</li><li>Tibetan Monasteries</li><li>Beas River</li><li>Gulaba</li><li>Kothi</li><li>Manu Temple</li></ul>
    <p><strong>How to Reach</strong></p>
    <ul><li><strong>Air:</strong></li></ul>
    <p>The nearest airport is Kullu–Manali Airport but it has limited accessibility and its operations are irregular. Chandigarh is the next nearest airport with better connectivity. It takes about 7 hr 40 min (308.6 km) from here to Manali via road.</p>
    <ul><li><strong>Rail:</strong></li></ul>
    <p>The nearest railway station is Joginder Nagar (JDNX) located 95 kms away and is a narrow broad gauge. Therefore it is not accessible from all major cities. Chandigarh Junction railway station (CDG) is the nearest major railway station with good connectivity from all the major northern cities. From here bus or private cabs can be taken to Manali 308.6 km away.</p>
    <ul><li><strong>Road:</strong></li></ul>
    <p>Himachal Road Transport Corporation (HRTC) operates regular buses to and from Manali to other cities in HP. Buses are also available from Delhi, Pathankot, Chandigarh. Jammu- Delhi highway, NH 154, NH205 connects Manali.</p>

    <h2>3. Shimla</h2>
    <img src=".\assets\Himachal\shimla.jpg" alt="Shimla">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Hill station, Viewpoints, British colonial architecture.</li><li><strong>Major Attractions: </strong>The Ridge<b>, </b>Mall Road, Jakhoo Hill.</li><li><strong>Nearby Places: </strong>Kasauli, Parwanoo, Chail, Kufri.</li><li><strong>Ideal Visit Time: </strong>2 days.</li></ul>
    <p><strong>About Shimla</strong></p>
    <p>The enchanting beauty of <strong>Shimla</strong> made British declare the land as their summer capital. The colonial influence is still evident in the city. The hill station offers spectacular views of the snow-capped Himalayan ranges. With lakes and rich greenery around, Shimla welcomes tourists round the year, of course, if you don’t mind the ‘below zero’ temperature in winter. Here are the leading destinations in Simla.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>The Ridge</li><li>Jakhoo Hill</li><li>Mall Road</li><li>Kalka-Shimla Railway</li><li>Christ-Church</li><li>Indian Institute Of Advanced Study</li><li>Summer Hill</li><li>Kufri</li><li>Annandale</li><li>The Shimla State Museum</li><li>Chail</li><li>Solan</li><li>Daranghati Sanctuary</li><li>Naldehra and Shaily Peak</li><li>Arki Fort</li></ul>
    <p><strong>How to Reach</strong></p>
    <ul><li><strong>Air:</strong></li></ul>
    <p>Jubbarhatti, which is about 23 kilometres from the town, is the nearest airport which has good connectivity from Delhi. Chandigarh airport which is about 3 hr 41 min (113.0 km) away is the nearest major airport which has connectivity to all major cities.</p>
    <ul><li><strong>Rail:</strong></li></ul>
    <p>Shimla Railway Station (SML) is 1 km away from the town centre and is connects to Chandigarh, Delhi and Ambala Cantt. It lies on the famous Kalka-Shimla Railway line and is a narrow gauge. An auto can be taken from here to reach the town.</p>
    <ul><li><strong>Road:</strong></li></ul>
    <p>Himachal Road Transport Corporation (HRTC) operates regular buses connecting Shimla to other cities in HP. Buses are also available from nearby cities of bordering states like Delhi, Pathankot, Chandigarh etc. NH5 and Jammu – Delhi Rd connects Shimla.</p>

    <h2>4. Chamba</h2>
    <img src=".\assets\Himachal\chamba.jpg" alt="Chamba">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Art, Temples, Nature.</li><li><strong>Major Attractions:</strong> Banni Mata and Lakshmi Narayan temples.</li><li><strong>Nearby Places:</strong> Dalhousie, Khajjiar.</li><li><strong>Ideal Visit Time: </strong>Less than a day.</li></ul>
    <p><strong>About Chamba</strong></p>
    <p>The spectacular beauty of <strong>Chamba</strong> has made this place dear to nature lovers. Located on the banks of River Ravi and at an altitude of over 900 meters above sea level, Chamba makes an excellent holiday retreat. It is also an important pilgrimage and historical destination with many important temples and forts.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Akhand Chandi Palace</li><li>Champavati Temple</li><li>Lakshmi Narayan Temples</li><li>Chamunda Devi Temple</li><li>Bhuri Singh Museum</li></ul>
    <p><strong>How to Reach</strong></p>
    <ul><li><strong>Air:</strong></li></ul>
    <p>The nearest airport is Pathankot Airport which is about 3 hr 38 min (123.4 km) and is well connected to Chandigarh and Delhi. Visitors can take a prepaid taxi or bus from here to Chamba.</p>
    <ul><li><strong>Rail:</strong></li></ul>
    <p>Pathankot Junction railway station (PTK) is the nearest railway station and is well connected to all major cities in North India. A bus or pre paid taxi can be taken from here to Chamba 3 hr 38 min (128 km) away.</p>
    <ul><li><strong>Road:</strong></li></ul>
    <p>Himachal Road Transport Corporation (HRTC) operates regular buses to and from Chamba to other cities in HP. Buses are also available from nearby cities of bordering states like Delhi, Pathankot, Chandigarh, Ambala etc. NH9, NH44 and Chamba – Pathankot Rd connects Chamba.</p>

    <h2>5. Dharamshala</h2>
    <img src=".\assets\Himachal\dharamshala.jpg" alt="Dharamshala">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Tibetan culture, Monasteries, Nature.</li><li><strong>Major Attractions:</strong> Tsuglagkhang Complex, Namgyal Monastery.</li><li><strong>Nearby Places:</strong> Mcleodganj, Kangra.</li><li><strong>Ideal Visit Time: </strong>1 day.</li></ul>
    <p><strong>About Dharamshala</strong></p>
    <p><strong>Dharamshala</strong> has snow-clad mountains on three sides and valley on one side. The mountains being over 4000 m height, you can have an excellent view of them from every viewpoint. Pine trees and tree gardens along with snow covered mountains render magic to the air. It is also heavily occupied Tibetans refugees who have left an imprint of their culture here. It is visited by tourists from all over the world to get a glimpse of Tibet and support the refugees.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Tsuglagkhang Complex</li><li>Namgyal Monastery</li><li>Masur</li><li>Attractions in Mcleodganj</li><li>Kareri Lake</li><li>Gyuto Monastery</li><li>Kangra Museum</li><li>Kangra Fort</li><li>Dal Lake in Dharamshala</li><li>Naddi Village</li>
    </ul>
    <p><strong>How to Reach</strong></p>
    <ul><li><strong>Air:</strong></li></ul>
    <p>Dharamsala airport (DHM) is located 13kms from the city and has good connectivity from all major metro cities. A cab or bus can be availed from here to the city.</p>
    <ul><li><strong>Rail:</strong></li></ul>
    <p>The nearest major railway station is at Pathankot Junction railway station (PTK), 85 kilometres away and is connected to all major cities. A pre paid taxi can be availed from here to Dharamshala.</p>
    <ul><li><strong>Road:</strong></li></ul>
    <p>Himachal Road Transport Corporation (HRTC) operates regular buses connecting Dharamshala to other cities in HP. Buses are also available from nearby cities of bordering states like Delhi, Pathankot, Chandigarh, Ambala etc. NH 503 and Jammu – Delhi Rd connects Dhramshala.</p>

    <h2>6. Dalhousie</h2>
    <img src=".\assets\Himachal\dalhousie.jpg" alt="Dalhousie">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Hill station, Meadows, Valleys.</li><li><strong>Major Attractions:</strong> Kalatop Wildlife Reserve, Dainkund Peak.</li><li><strong>Nearby Places: </strong>Pathankot, Khajjiar.</li><li><strong>Ideal Visit Time: </strong>1 day.</li></ul>
    <p><strong>About Dalhousie</strong></p>
    <p>Retaining not only the colonial looks but also the name, <strong>Dalhousie</strong>, was named after Lord Dalhousie, who was the British governor in the 19th century. This hill station is spread across five hills. The varying altitudes of the land have a wide range of vegetation including pine, oak and deodar.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Khajjiar</li><li>Kalatop Wildlife Reserve</li><li>Dainkund Peak</li><li>Ganji Pahari</li><li>St. Francis Church</li><li>Panchpula</li><li>Chamera Lake</li><li>Garam Sadak</li><li>Subhash Baoli</li><li>Sach Pass</li>

    </ul>
    <p><strong>How to Reach</strong></p>
    <ul><li><strong>Air:</strong></li></ul>
    <p>Pathankot has the nearest airport, 75 kilometres away and visitors can take a cab from here to Dalhousie.</p>
    <ul><li><strong>Rail:</strong></li></ul>
    <p>The nearest major railway station is at Pathankot Junction railway station (PTK), 75 kilometres away and is connected to all major cities. Avail a taxi from here to Dalhousie.</p>
    <ul><li><strong>Road:</strong></li></ul>
    <p>Himachal Road Transport Corporation (HRTC) operates regular buses from Dalhousie to other cities in HP. Buses are also available from Delhi, Pathankot, Chandigarh etc. Bela – Behrampur Road, NH 44 and NH 503 connects Dalhousie.</p>


</div>