<div class="card">
    <h1>Top 10 Places To Visit In Delhi</h1>
    <h3>1. Red Fort</h3>
    <img src=".\assets\Delhi\red-fort.jpg" alt="Red Fort">
    <ul>
        <li><b>Famous for: </b>History, Architecture, Photography.</li>
        <li><b>Tickets: </b>Entry fee is 35 INR for Indians and 500 INR for foreigners. Light and Sound will cost about 80 INR for adults and 30 INR for children.</li>
        <li><b>Opening Timings: </b>Open Tue to Sun from sunrise to sunset. Light and Sound show at 6pm everyday</li>
        <li><b>Duration: </b>1-2 hours.</li>
    </ul>
    <p><b>Red Fort</b> symbolizes the era of Mughal rule in India. The Fort, <b>built in 1638</b>, is a magnificent monument that captivates your attention and exhibits the show of architectural splendor of Mughals. The <b>33m high walls of Red Fort</b> are yet another special feature of the fort.</p>
    <h5>Things to Do in Red Fort:</h5>
    <ul>
        <li>Light and sound show.</li>
        <li>Take a guided tour around the fort.</li>
    </ul>
    <h3>2. Humayun’s Tomb</h3>
    <img src=".\assets\Delhi\humayun-tomb.jpg" alt="Humayun’s Tomb">
    <ul>
        <li><b>Famous for: </b>History, Architecture, Gardens, Photography.</li>
        <li><b>Tickets: </b>30 INR for adults and 500 INR for foreigners.</li>
        <li><b>Opening Timings: </b>Open all days.</li>
        <li><b>Duration: </b>45 mins.</li>
    </ul>
    <p>Built in the <b>year 1570, Humayun’s Tomb</b> is a monument built by Queen Haji Begum, widow of Humayun. The monument displays the inspiration of Persian architecture. The world famous Taj Mahal bears resemblance to this monument constructed during early Mughal rule in India. It is <b>open on all days for visits</b>. The best time to view Humayun’s Tomb would be in the late afternoon.</p>
    <h5>Things to Do at Humayun’s Tomb:</h5>
    <ul>
        <li>Explore the gardens.</li>
        <li>Visit Nizam al-Din Auliya dargah nearby.</li>
    </ul>
    <h3>3. Qutab Minar</h3>
    <img src=".\assets\Delhi\qutub-minar.jpg" alt="Qutab Minar">
    <ul>
        <li><b>Famous for:</b>History, Architecture, Photography.</li>
        <li><b>Tickets:</b>30 INR for Indians and 500 INR for foreigners.</li>
        <li><b>Opening Timings</b>Open all days from sunrise till sunset.</li>
        <li><b>Duration:</b>30 mins</li>
    </ul>
    <p><b>The tallest tower in India, Qutab Minar</b>, is believed to commemorate the victory and the beginning of Mughal era in India. The <b>73-meter tall tower</b> was built by <b>Qutab-ud-din Aibak</b> after defeating the last Hindu Kingdom. However, some say that it was built to serve as a minaret to call those faithful to prayer. While red sandstone was used in the construction of first three storeys, marble and sandstone were used to construct the last two storeys. India’s first ever mosque, Quwwat-ul-Islam is at the foot of Qutab Minar.</p>
    <h5>Things to Do near Qutab Minar:</h5>
    <ul>
        <li>Visit Mehrauli Archaeological Park.</li>
        <li>Visit Quwwat-ul-Islam Mosque.</li>
    </ul>
    <h3>4. Bahai (Lotus) Temple</h3>
    <img src=".\assets\Delhi\lotus-temple.jpg" alt="Lotus Temple">
    <ul>
        <li><b>Famous for: </b>Religion, Architecture.</li>
        <li><b>Tickets: </b>Free.</li>
        <li><b>Opening Timings: </b>Open all days from Tue to Sun (9am to 5:30pm).</li>
        <li><b>Duration: </b>1.5 hours.</li>
    </ul>
    <p><b>Bahai Temple is famously known as Lotus Temple</b> owing to its resemblance to lotus flower. Lotus symbolizes four religions namely Hinduism, Islam, Buddhism and Jainism. Out of the seven major Bahai temples constructed around the world, the one in Delhi was constructed last. The place is serene and is open for prayers and meditation by people who follow any religion. The nine pools of water around the petals is a sight to watch at dusk.</p>
    <h5>Things to Do near Lotus Temple:</h5>
    <ul>
        <li>Meditation and praying.</li>
        <li>Visit the Baha’i World Centre Library.</li>
        <li>Explore the nine surrounding ponds and the gardens.</li>
    </ul>
    <h3>5. Akshardham Temple</h3>
    <img src=".\assets\Delhi\akshardham.jpg" alt="Akshardham Temple">
    <ul>
        <li><b>Famous for:</b>Gardens, Architecture, Religion, Peace, Harmony.</li>
        <li><b>Tickets:</b>For Adults (170 INR) , senior citizen (125 INR) , children between 4 to 11yrs (100 INR) and free for children below 4yrs.</li>
        <li><b>Opening Timings</b>Open all days from Tue to Sun (9:30 am to 6:30 pm).</li>
        <li><b>Duration:</b>No specific time. Depends on the visitor.</li>
    </ul>
    <p>Whatever faith you may be following, you could take your time to visit <b>Swaminarayan Akshardham Temple, the world’s largest Hindu Temple</b>. Apart from using concrete for the foundation, the entire construction was made using granites and marbles from all parts of the world. The structure stands proof of architectural excellence. In the 12 acres of land, you will find the temple, museum, several parks and a huge cultural center that throws light on the traditions and customs followed in India. You can go boating in the water canals here.</p>
    <h5>Things to Do around Swaminarayan Akshardham Temple:</h5>
    <ul>
        <li>Pray at Akshardham Mandir.</li>
        <li>Participate in Nilkanth Varni Abhishek.</li>
        <li>View the many exhibitions.</li>
        <li>Attend Musical fountain show.</li>
        <li>Relax in the gardens.</li>
    </ul>
    <h3>6. India Gate</h3>
    <img src=".\assets\Delhi\India-gate.jpg" alt="India Gate">
    <ul>
        <li><b>Famous for: </b>War memorial, Architecture, Indian Army.</li>
        <li><b>Tickets: </b>Free.</li>
        <li><b>Opening Timings: </b>Open all days.</li>
        <li><b>Duration: </b>1-2 hours.</li>
    </ul>
    <p><b>India Gate</b> was constructed in the year 1931 as a war memorial for over 70,000 soldiers killed during First World War and Afghan War. The names of the soldiers are inscribed in the walls of India Gate. It was earlier known as <b>“All India War Memorial”</b>. Situated on Rajpath, India Gate looks stunning in the evening lights.</p>
    <h5>Things to Do near India Gate:</h5>
    <ul>
        <li>Pay your respects at Amar Jawan Jyoti.</li>
        <li>Relax in the surrounding gardens.</li>
    </ul>
    <h3>7. Jama Masjid</h3>
    <img src=".\assets\Delhi\jama-masjid.jpg" alt="Jama Masjid">
    <ul>
        <li><b>Famous for:</b> Mosque, Architecture, History, Serenity.</li>
        <li><b>Tickets:</b> No entry fee.</li>
        <li><b>Opening Timings</b> Open all days from 7am to 12 pm & 1.30pm to 6.30pm. Tourists not allowed during prayer times.</li>
        <li><b>Duration:</b> 1 hour.</li>
    </ul>
    <p><b>Jama Masjid</b> is another fine example of Mughal architecture’s golden age under Shah Jahan. It is India’s largest mosque and its courtyard can carry more than 25,000 devotees at a single time. The building consists of three great gates, four towers and two minarets made from a combination of  red sandstone and white marble. Apart from being a major place of worship for Muslims, Jama Masjid is also visited by many tourists for its amazing architecture.</p>
    <h5>Things to Do near Jama Masjid:</h5>
    <ul>
        <li>Visit the Chawri market.</li>
        <li>Go to the old city.</li>
    </ul>
    <h3>8. Laxminarayan Temple</h3>
    <img src=".\assets\Delhi\laxminarayan-temple.jpg" alt="Laxminarayan Temple">
    <ul>
        <li><b>Famous for:</b> Hinduism, Architecture, Serenity.</li>
        <li><b>Tickets:</b> No entry fee.</li>
        <li><b>Opening Timings:</b> Open all days from 4:30 am to 1:30 pm & 2.30 pm to 9pm.</li>
        <li><b>Duration:</b> 1.5-2 hours.</li>
    </ul>
    <p><b>Laxminarayan Temple</b> is the first of many temples built by the Birla family across India. It was inaugurated by Mahatma Gandhi on the condition that people from all castes and religions should be allowed to enter this temple. The temple’s stunning architecture is surrounded by lush gardens and artificially made waterfalls. It lies on an area of about 7.5 acres and it’s magnificence makes the cityscape of Delhi even more beautiful.</p>
    <h5>Things to Do at Laxminarayan Temple:</h5>
    <ul>
        <li>Attend discourses in Geeta Bhawan.</li>
        <li>Visit the three main shrines in the temple.</li>
        <li>Relax in the lush gardens.</li>
    </ul>
    <h3>9. Gurudwara Bangla Sahib</h3>
    <img src=".\assets\Delhi\gurudwara-bangla-sahib.jpg" alt="Gurudwara Bangla Sahib">
    <ul>
        <li><b>Famous for:</b> Sikhism, Serenity, History.</li>
        <li><b>Tickets:</b> No entry fee.</li>
        <li><b>Opening Timings</b> Open all days</li>
        <li><b>Duration:</b> 1.5-2 hours.</li>
    </ul>
    <p><b>Gurudwara Bangla Sahib</b> holds special significance for Sikhs because of its relation with the eighth Sikh Guru, Guru Har Krishan who stayed here to cure thousands suffering from cholera and smallpox epidemic. The ‘Sarover’ or ‘lake’ inside the gurudwara is also worth a visit for its serenity and importance. In a recent survey, Gurudwara Bangla Sahib was ranked as the best place of pilgrimage in Delhi.</p>
    <h5>Things to Do at Gurudwara Bangla Sahib:</h5>
    <ul>
        <li>Eat at the langar (free kitchen).</li>
        <li>Pay your respects at the shrine.</li>
        <li>Spend some moments near the holy lake.</li>
    </ul>
    <h3>10. National Museum</h3>
    <img src=".\assets\Delhi\national-museum.jpg" alt="National Museum">
    <ul>
        <li><b>Famous for:</b> History, Relics, Educational.</li>
        <li><b>Tickets:</b> 20 INR for Indians, 650 INR for Foreigners and free for school children.</li>
        <li><b>Opening Timings</b> Open daily except Monday from 10 am to 6 pm.</li>
        <li><b>Duration:</b> 3-4 hours.</li>
    </ul>
    <p><b>National Museum</b> offers a peek in Indian History, right from pre civilization era. It is one of India’s largest museums with artifacts ranging from Harappan civilization to British colonial era. Mughal era paintings, Coins from Gupta dynasty, relics from Mauryan times etc are some of the displays here. National Museum has beautifully captured India’s history in a nutshell and therefore a visit here is absolutely recommended for everyone.</p>
    <h5>Things to Do at National Museum:</h5>
    <ul>
        <li>Attend films on Indian history at auditorium.</li>
        <li>Attend an exhibition on art, history and culture.</li>
        <li>Visit the library to read publications by the museum.</li>
    </ul>
</div>
