<div class="card">
    <h1>Top 3 Places To Visit In Uttarkhand</h1>
    <p>Earned the status of ‘State’ in the year 2000, <strong>Uttarakhand</strong>, which was earlier a part of Uttar Pradesh, is famous for its scenic beauty and pilgrim centers. If you are associated with religious beliefs, you may be keen to visit the place for its divinity and if you are a nature lover, you will find divinity in the rich expanse of endless natural beauty here. Wherever your faith is placed, be it in god or in the powers of nature to inspire you into living a life of fulfillment, Uttarakhand is the perfect destination. Here are the top 5 <strong>places to visit in Uttarakhand</strong></p>
    <h2>1. Dehradun</h2>
    <img src=".\assets\Uttarkhand\Rishikesh-Yoga-City-India.jpg" alt="Rishikesh-Yoga-City">
    <p>Dehradun is a notable academic and research hub and is home to Indian Military Academy, Rashtriya Indian Military College, Uttarakhand Ayurveda University, Forest Research Institute, Wadia Institute of Himalayan Geology, Indira Gandhi National Forest Academy and Indian Institute of Remote Sensing.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Sahastradhara</li><li>Tiger Falls</li><li>Robber’s Cave</li><li>Mindrolling Monastery</li><li>Tapkeshwar Temple</li><li>Forest Research Institute</li><li>Tapovan</li><li>Wadia Institute of Himalayan Geology</li><li>Lachhiwala</li><li>Malsi Deer Park</li></ul>
    <h2>2. Nainital</h2>
    <img src=".\assets\Uttarkhand\Nainital.jpg" alt="Nainital">
    <p>About NainitalFamously referred to as the ‘Lake District of India’, <strong>Nainital</strong>, at 1938 meters above sea level, is a scenic delight that would be irresistible to any tourist. It is located around the famous Naini Lake in a valley. With mountains on all sides, Nainital is where you need to be for a rendezvous with nature. Some of the most important tourist attractions in Nainita include:</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Naini Lake</li><li>Naina Peak</li><li>Tiffin Top</li><li>St. John in the Wilderness.</li><li>Pt. G.B. Pant High Altitude Zoo.</li><li>Gurney House</li><li>Snow View</li><li>Land’s End</li><li>Kilbury Bird Sanctuary.</li><li>Eco Cave Gardens.</li></ul>
    <h2>3. Mussoorie</h2>
    <img src=".\assets\Uttarkhand\Mussoorie.jpg" alt="Mussoorie">
    <p></p>
    <p>Located at an altitude of 6000 feet, <strong>Mussoorie</strong>, the ‘Queen of Hills’, is beauty personified. With snow-covered Himalayan peaks on view, the land abundant in natural beauty has an excellent climate too. The winters are chilling and the summers are pleasant. The beauty of the place mesmerized Captain Young of the British army who made this place his residence in the year 1820. Mussoorie has seen countless footprints ever since the discovery, the list of excited tourists to enjoy the immense beauty of the place is growing. Here are the popular tourist attractions in Mussoorie.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Kempty Falls</li>
    </ul>
</div>