<div class="card">
    <h1>Top 5 Tourist Attractions in Goa</h1>
    <p>On your first visit to <b>Goa</b>>, you may be awe-struck by the fact that such a small area of land could have so many tourist attractions to offer. The tourist destinations defy the size of Goa making the place a heaven for tourists from all parts of the world. With over 50 beaches, each beautiful in its own way, you are sure to have your cameras busy as you unwind. However, Goa stretches beyond its beaches in offering other interesting tourist spots. The land with a rich past has many architectural wonders apart from the natural sceneries. It has ancient forts and places of worship belonging to various faiths. You can engage yourself in various activities including water sports. Here are the top 5 places to visit in Goa, which you cannot afford to miss on your tour.</p>

    <h2>1. Panaji</h2>
    <img src=".\assets\Goa\fort-aguada1.jpg" alt="Fort Aguada">
    <p>Located on the banks of Mandovi river, <b>Panaji</b>>, the capital of Goa, is a picturesque land with spectacular views to offer. The historical significance and serenity add magic to the air. Influences of Portuguese are still evident. Goa Medical College in Panaji, which was built by Portuguese, is the first ever medical school in India and it also ranks amongst the oldest medical colleges in the whole of Asia. Here are the top destinations in Panaji.</p>
    <ul>
        <li>Old Goa</li>
        <li>Reis Magos Fort        </li>
        <li>Fort Aguada        </li>
        <li>18th June Road        </li>
        <li>Goa Archaeological Museum        </li>
        <li>Secretariat        </li>
        <li>Dona Paula Beach        </li>
        <li>Miramar Beach        </li>
        <li>Dr. Salim Ali Bird Sanctuary        </li>
        <li>Panjim Heritage Walk        </li>
        <li>Goa State Museum        </li>
        <li>Idalcao</li>
        <li>The Church of Our Lady of the Immaculate Conception        </li>
        <li>Shanta Durga Temple        </li>
        <li>Jama Masjid        </li>
    </ul>
    <h2>2. Vasco Da Gama</h2>
    <img src=".\assets\Goa\mormugao-port.jpg" alt="Mormugao Port">
    <p>Founded in 1543 by Portuguese, <b>Vasco Da Gama</b>> has evolved into an important industrial center in Goa. This largest city in Goa is named after Vasco Da Gama, the famous Portuguese explorer. To have an insight in to the culture and lifestyle of Goa, you need to visit this city. Here are some important tourist destinations.</p>
    <ul>
        <li>Bogmalo Beach</li>
        <li>Velsao Beach</li>
        <li>Mormugao Port</li>
        <li>Pilot Point</li>
        <li>Goa Kayaking-Day Tour        </li>
        <li>Japanese Garden        </li>
        <li>Zuari River        </li>
        <li>Naval Aviation Museum        </li>
    </ul>
    <h2>3. Calangute</h2>
    <img src=".\assets\Goa\calangute-beach3.jpg" alt="Calangute Beach">
    <p><b>Calangute</b>>, situated in the north of Goa, is an excellent destination to stretch and rejuvenate your tired spirits. Calangute beach, which had earlier witnessed the dominant presence of hippies, greets you to enjoy the brilliant beauty of the land. Such is its beauty that nature lovers consider this a heaven on earth. Here are the leading destinations you need to visit on your tour.</p>
    <ul>
        <li>Calangute Beach</li>
        <li>Baga Beach</li>
        <li>Se Cathedral</li>
        <li>Aguada Fort</li>
        <li>St, Alex Church</li>
        <li>Medicinal Springs</li>
        <li>Baga Retreat House</li>
    </ul>
    <h2>4. Mapusa</h2>
    <img src=".\assets\Goa\chapora-fort.jpg" alt="Chapora Fort">
    <p>If the beaches attracted you here, you would love <b>Mapusa</b>>, which is closer to the most popular beaches in Goa. The weekly market in Mapusa set up every Friday is famous as you can find a wide range of products sold here. Here are some top tourist destinations in Mapusa.</p>
    <ul>
        <li>Kalacha Beach</li>
        <li>Mascarenhas Mansion</li>
        <li>Arpora</li>
        <li>Aldona</li>
        <li>Chapora Fort</li>
        <li>Sri Kalika Temple</li>
        <li>Mapusa Friday Bazar</li>
        <li>Basilica of Bom Jesus</li>
    </ul>
    <h2>5. Margao</h2>
    <img src=".\assets\Goa\colva-beach2.jpg" alt="Colva Beach">
    <p><b>Margao - </b>the oldest city in Goa is also the second largest city in the land. It is also the commercial center in Goa. It was earlier known as <i>Madgaon</i>> before the Portuguese colonization. This is an important religious center in Goa with many places of worship. Given below are some of the top tourist attractions in Margao.</p>
    <ul>
        <li>Canopy Goa</li>
        <li>Colva Beach</li>
        <li>Loutolim</li>
        <li>Caves of Aquem</li>
        <li>Velsao Beach</li>
        <li>Town Square</li>
        <li>Monte Hill</li>
        <li>Jorge Barreto Park</li>
        <li>Colonial Style Villas</li>
        <p><b>Goa has many more beautiful destinations</b>. Beaches, ancient monuments and a lot more that deserve mention are left out owing to the limited time I happened to spend there. I would be glad to hear about more tourist attractions in Goa. Suggestions are most welcome.</p>
        <br>
    </ul>
</div>