<div class="card">
    <p>If you are looking for a place that is beauty personified, if you are after a place that offers serene atmosphere and spectacular views and if you are aiming for some rejuvenation for your body and soul through natural treatment, you cannot think of a place other than Kerala. Kerala, the land, which enjoys the partiality of Mother Nature, has a lot to offer to tourists. Awe-inspiring beaches, majestic hill tops and picturesque landscape spellbound you on your visit to Kerala. It is very difficult to shortlist the <strong>tourist places in Kerala</strong> to narrow it down to 10 top places. However, an attempt is made here and you could include as many in your itinerary. The only suggestion while you visit Kerala is to take a long leave so that you could maximize your stay in the place.</p>
    <h2>1. Munnar</h2>
    <img src=".\assets\Kerala\munnar.jpg" alt="Munnar">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Hill station, Landscape, Tea Estates, Flora, Fauna</li><li><strong>Major Attractions: </strong>Eravikulam National Park, Tea Estates and Anamudi.</li><li><strong>Nearby Places:</strong> Chalakudy, Thekkady.</li><li><strong>Ideal Visit Time: </strong>2-3 days.</li></ul>
    <p><strong>About Munnar</strong></p>
    <p>Get ready to be lost in the chanceless beauty of the place where three rivers meet, namely Kundalay, Mudrapuzha and Nallathanni. Situated at 1524-metre altitude on the Western Ghats, the tourist places in Munnar makes you wonder if it is the birthplace of beauty. The lush green landscape, waterfalls, lakes, forests and tea plantations make this place a heaven on earth. The place offers spectacular view of misty valleys and lakes. You might never have believed that watching tea plantations continuously might be so absorbing and interesting. You can have your share of adventure here as you can go paragliding, trekking and rock climbing.</p>
    <p><strong>Places of Interest</strong></p>
    <ul><li>Atukkad Waterfalls</li><li>Muniyara Dolmens</li><li>Echo Point</li><li>Eravikulam (Rajamalai) National Park</li><li>Mattupetty Dam</li><li>Chithirapuram</li><li>Top Station</li><li>Marayur</li></ul>
    <p><strong>How to Reach</strong></p>
    <ul><li><strong>Air</strong></li></ul>
    <p>Cochin International Airport, 110 kms (approx 3 hours) away is the closest airport. Take a prepaid cab or a bus from Cochin to Munnar.</p>
    <ul><li><strong>Rail</strong></li></ul>
    <p>Aluva railway station (AWY), 110 kms away is the closest railway junction. Next option would be Ernakulam Junction railway station, about 135 kms away is the next major railway junction. Take a cab from any of these stations to Munnar.</p>
    <ul><li><strong>Road</strong></li></ul>
    <p>Kerala State Road Transport Corporation provides regular bus service in all parts of the state. Apart from state buses, some private buses also operate connecting Kerela with the nearby states. Munnar has good road connectivity through NH85 and NH45.</p>

    <h2>2. Kumarakom</h2>
    <img src=".\assets\Kerala\Kumarakom.jpg" alt="Kumarakom">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Backwaters, Nature, Houseboats.</li><li><strong>Major Attraction: </strong>Vembanad Lake.</li><li><strong>Nearby Places:</strong> Alleppey, Thekkady.</li><li><strong>Ideal Visit Time: </strong>2 days.</li></ul>
    <p><strong>About Kumarakom</strong></p>
    <p>Kumarakom is located near Kottayam. It is one of the famous attractions of Kerala. It is bird watchers’ paradise owing to the <strong>14-acre bird sanctuary</strong>, a favorite ground for migratory birds. Kumarakom is also a spectacular backwater destination and hence you can go on a boating ride here. As <strong>Ayurvedic massage</strong> is done here, the place is a favorite for everyone who seeks to relax body and mind. The <strong>Vembanad Lake</strong> in <a href="//www.transindiatravels.com/kerala/kumarakom/tourist-places-to-visit-in-kumarakom/">Kumarakom is a favorite tourist spot</a>. It is the largest lake in Kerala and the longest lake in India. It is a great place to spend a relaxed day watching sunrise or sunset depending on the time of cruise.</p>
    <p><strong>Places of Interest</strong></p>
    <ul><li>Vembanad Lake</li><li>Aruvikkuzhi Waterfalls</li><li>Kumarakom Bird Sanctuary</li><li>Kumarakom Beach</li><li>Kumarakom Backwaters</li><li>Bay Island Driftwood Museum</li><li>Pathiramanal Island</li><li>Juma Masjid</li></ul>
    <p><strong>How to Reach</strong></p>
    <ul><li><strong>Air</strong></li></ul>
    <p>Cochin International Airport, about 70 kms (approx 2 hours) away is the closest airport. Take a prepaid cab or a bus from Cochin to Kumarakom.</p>
    <ul><li><strong>Rail</strong></li></ul>
    <p>Kottayam railway station (KTYM), 35 kms away is the closest railway junction. Next option would be Ernakulam Junction railway station, about 53.7 kms away is the nearest major railway junction. Take a cab from any of these stations to Munnar.</p>
    <ul><li><strong>Road</strong></li></ul>
    <p>Kerala State Road Transport Corporation provides regular bus service in all parts of the state. Apart from state buses, some private buses also operate connecting Kerala with the nearby states. Kumarakom has good road connectivity through NH85 and NH66.</p>

    <h2>3. Varkala</h2>
    <img src=".\assets\Kerala\Varkala" alt="Varkala">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Beaches, Cliffs, Landscape.</li><li><strong>Major Attractions: </strong>Varkala beach and cliffs.</li><li><strong>Nearby Places:</strong> Thiruvananthapuram, Kovalam, Paravur.</li><li><strong>Ideal Visit Time: </strong>2 days.</li></ul>
    <p><strong>About Varkala</strong></p>
    <p>Varkala is famous for Ayurvedic massage and the place itself is in a wonderful setting. The beach and the mountain make the place attractive. You would not want to miss the sight of sunset here. The beach is clean and offers a great relaxation. You could stretch and let your eyes feast on the tranquil atmosphere or go for <strong>swimming</strong> and enjoy a great physical exercise. One of the most important aspects about the beach is that it is <strong>less crowded</strong> and hence you can have your space without being disturbed. Let the beauty of the beach and the atmosphere sinks in as you spend a quiet evening here.</p>
    <p><strong>Places of Interest</strong></p>
    <ul><li>Shree Janardhanaswamy Temple</li><li>Sivagiri</li><li>Papanasam Beach</li><li>Edava Beach</li><li>Varkala Tunnel</li></ul>
    <p><strong>How to Reach</strong></p>
    <ul><li><strong>Air</strong></li></ul>
    <p>Trivandrum International Airport, 40 kms (1 hour) away is the closest airport. Take a prepaid cab or a bus from here to Varkala.</p>
    <ul><li><strong>Rail</strong></li></ul>
    <p>Varkala Sivagiri railway station (VAK) is the closest railway junction. Thiruvananthapuram Central railway station (TVC), about 40 kms (1 hr) away is the nearest major railway junction. Take a cab from any of these stations to Varkala.</p>
    <ul><li><strong>Road</strong></li></ul>
    <p>Kerala State Road Transport Corporation provides regular bus service in all parts of the state. Apart from state buses, some private buses also operate connecting Kerala with the nearby states. Varkala has good road connectivity through NH 66.</p>

    <h2>4. Kovalam</h2>
    <img src=".\assets\Kerala\kovalam.jpg" alt="Kovalam">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Beaches, Nature, Rivers.</li><li><strong>Major Attraction:</strong> Kovalam beach</li><li><strong>Nearby Places:</strong> Thiruvananthapuram, Varkala.</li><li><strong>Ideal Visit Time: </strong>2 days.</li></ul>
    <p><strong>About Kovalam</strong></p>
    <p><strong>Kovalam</strong> is yet another stunning location in Kerala. Situated 16 kms away from the city of <a href="//www.transindiatravels.com/kerala/trivandrum/tourist-places-to-visit-in-trivandrum/">Trivandrum</a>, Kovalam has three enchanting beaches. The largest of all the three beaches is the Lighthouse Beach. <strong>Hawah Beach</strong> is the second largest one here and the third beach is <strong>Samudra</strong>. Kovalam is one of the most sought after destinations in Kerala.</p>
    <p><strong>Places of Interest</strong></p>
    <ul><li>Lighthouse Beach</li><li>Hawah Beach</li><li>Samudra Beach</li><li>The German Bakery</li><li>Karamana River</li><li>Edakallu</li><li>Vellayani Lake</li><li>Halcyon Castle</li><li>Valiyathura Pier</li><li>Vizhinjam Village</li></ul>
    <p><strong>How to Reach</strong></p>
    <ul><li><strong>Air</strong></li></ul>
    <p>Trivandrum International Airport, 15 kms away is the closest airport. Take a prepaid cab or a bus from Madurai to Kovalam.</p>
    <ul><li><strong>Rail</strong></li></ul>
    <p>The Trivandrum Central railway station (TVC) is the closest major railway junction. Take a cab or bus from the station to Kovalam.</p>
    <ul><li><strong>Road</strong></li></ul>
    <p>Kerala State Road Transport Corporation provides regular bus service in all parts of the state. Apart from state buses, some private buses also operate connecting Kerala with the nearby states. Kovalam has good road connectivity through Kovalam Rd.</p>

    <h2>5. Thekkady</h2>
    <img src=".\assets\Kerala\thekkady.jpg" alt="Thekkady">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Backwaters, Wildlife, Elephant rides.</li><li><strong>Major Attraction: </strong>Periyar National Park.</li><li><strong>Nearby Places:</strong> Alleppey, Kumarakom.</li><li><strong>Ideal Visit Time: </strong>1-2 days.</li></ul>
    <p><strong>About Thekkady</strong></p>
    <p><strong>Thekkady</strong> offers a great chance to view wildlife while on a cruise. You can find various wildlife species here including elephants, tigers, deer, bisons and many more. Elephant rides are available here to take you inside the forest. <strong>Plantations</strong> and <strong>hill stations</strong> offer a picturesque setting to the place. You can go on a trek here. Some of the most important tourist attractions in Thekkady are Periyar River, Murikkady and Chellarkovil.</p>
    <p><strong>Places of Interest</strong></p>
    <ul><li>Periyar National Park and Wildlife Sanctuary</li><li>Kurisumala</li><li>Murikkady</li><li>Pullumedu</li><li>Mangala Devi Temple</li></ul>
    <p><strong>How to Reach</strong></p>
    <ul><li><strong>Air</strong></li></ul>
    <p>Madurai Airport, about 150 kms (approx 3 hr) away is the closest airport. Take a prepaid cab or a bus from Madurai to Thekkady.</p>
    <ul><li><strong>Rail</strong></li></ul>
    <p>Kottayam railway station (KTYM), 107 kms (approx 3 hours) away is the closest railway junction. Take a cab or bus from the station to Thekkady.</p>
    <ul><li><strong>Road</strong></li></ul>
    <p>Kerala State Road Transport Corporation provides regular bus service in all parts of the state. Apart from state buses, some private buses also operate connecting Kerala with the nearby states. Thekkady has good road connectivity through NH85, NH66 and NH 183.</p>

</div>