<div class="card">
    <h1>Top 5 Places To Visit In Telangana</h1>
    <p>The state of <strong>Telangana</strong> is to be a newly christened state of India on the 2nd of June 2014. The region was a part of the Indian State of Andhra Pradesh. It contains 10 districts, many of which are important towns of Andhra Pradesh including its very own capital, Hyderabad. The Main Language spoken is Telugu, and the word Telangana itself was meant to distinguish Telugu speaking region from the Marathawada region. The state is rich with historic and cultural heritage and the climate is hot n dry. The place has a majority of historic monuments and temples which were once a part of the State of Andhra Pradesh.</p>
    <p>One of the oldest dynasties in India the Sathavahanas were the dominant power here. The rule was followed by the reign of prominent royal dynasties like the Vakataka, Chalukyas, Rashtrakutas but the golden age of the Telangana region came under the reign of the Kakatiya dynasty which is attributed for most of the ancient architecture in this State. In the 14th century the city of Hyderabad came under the Delhi sultanate and the Nizams of Hyderabad which led to it becoming a princely State. In this article we shall discuss in brief the different cities of the upcoming State of Telangana.</p>

    <h2>1. Hyderabad</h2>
    <img src=".\assets\Telangana\Charminar.jpg" alt="Charminar">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Shopping, Heritage, Monuments, Nizam</li><li><strong>Major Attractions:</strong> Old city and Charminar.</li><li><strong>Nearby Places:</strong> Warangal, Bidar, Nizamabad.</li><li><strong>Ideal Visit Time: </strong>2-3 days.</li></ul>
    <p><strong>About Hyderabad</strong></p>
    <p><strong>Hyderabad</strong>, the capital and the largest city of the State of Telangana and also the capital of the State of Andhra Pradesh till the next capital is determined. The place is rich with historic and urban structures. The city is also a home to the ‘Telugu Film Industry ‘or ‘Tollywood’, which is the second largest producer of motion pictures in India. Monuments like Charminar, marketplaces, cuisines, the town of Hyderabad is a must visit.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Charminar</li><li>Golconda Fort</li><li>Makkah Masjid</li><li>Old City.</li><li>Salarjung Museum</li><li>Qutb Shahi Tombs</li><li>Hussain Sagar Lake</li><li>Birla Mandir</li><li>Chowmahalla Palace</li><li>Ramoji Film City</li><li>Spanish Mosque</li><li>Paigah Tombs</li><li>Chilkoor Balaji Temple</li><li>Nehru Zoological Park</li><li>Shamirpet</li></ul>

    <h2>2. Warangal</h2>
    <img src=".\assets\Telangana\Warangal fort pillars.jpg" alt="Warangal Fort Pillars">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>History, Monuments.</li><li><strong>Major Attractions:</strong> Thousand Pillar Temple, Warangal Fort and Ramappa Temple.</li><li><strong>Nearby Places:</strong> Hyderabad.</li><li><strong>Ideal Visit Time: </strong>1-2 days</li></ul>
    <p><strong>About Warangal</strong></p>
    <p>The district lies not very far from the Capital city of Hyderabad and is one of the largest cities in Telangana. <strong>Warangal</strong> enshrines a huge number of ancient temples and monuments. The Pakhal lake is a must visit. The thousand pillar temple here is a historic marvel to behold and will ensure you note it down in your bucket lists for this city.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Warangal Fort</li><li>Thousand Pillar Temple</li><li>Pakhal Lake</li><li>Eturnagaram Wildlife Sanctuary</li><li>Kakatiya Rock Garden</li><li>Kakatiya Musical Garden</li><li>Bhadrakali Temple</li><li>Ramappa Lake</li></ul>

    <h2>3. Nizamabad</h2>
    <img src=".\assets\Telangana\Ditchpally Ramalayam Main.jpg" alt="Ditchpally Ramalayam">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>History, Monuments.</li><li><strong>Major Attraction:</strong> Nizamabad Fort.</li><li><strong>Nearby Places:</strong> Hyderabad, Karimnagar.</li><li><strong>Ideal Visit Time: </strong>less than a day.</li></ul>
    <p><strong>About Nizamabad</strong></p>
    <p>Located by the River Godavari, <strong>Nizamabad</strong> is also a major city in the State of Telangana. The town is famous for its various temples and historical monuments. The Pocharam Wildlife Sanctuary is located next to the Pocharam Lake in Nizamabad and contains a rich flora and fauna. The Nizamabad fort is also a great place to visit.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Nizamabad Fort</li><li>Alisagar Reservoir</li><li>Pocharam Wildlife Sanctuary</li><li>Archaelogical And Heritage Museum</li><li>Pochampad Dam</li><li>Nizam Sagar Dam</li><li>Mallaram Forest</li><li>Kanteshwar</li></ul>

    <h2>4. Karimnagar</h2>
    <img src=".\assets\Telangana\elgandal-fort.jpg" alt="Elgandal Fort">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>History, Monuments.</li><li><strong>Major Attraction: </strong>Elgandal Fort</li><li><strong>Nearby Places:</strong> Hyderabad.</li><li><strong>Ideal Visit Time: </strong>less than a day.</li></ul>
    <p><strong>About Karimnagar</strong></p>
    <p><strong>Karimnagar</strong> is located by a tributary of the Godavari River and is located at an approximate distance of 165 kilometers. The city is famous for its various historical forts owing to it being under the Nizam’s reign. The Elgandal fort is a great place to visit due to its great location. The town is also famous for its various pilgrimage spots with some really amazing temples. The city is the 4th most populated city in the State of Telangana.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Elgandal Fort</li><li>Manthani Temples</li><li>Jagtial Fort</li><li>Ramagiri Fort</li><li>Ujwala Park</li><li>Rajiv Deer Park</li><li>Vemulawada</li><li>Kaleshwaram</li></ul>

    <h2>5. Khammam</h2>
    <img src=".\assets\Telangana\Khammam.jpeg" alt="Khammam">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>History, Monuments.</li><li><strong>Major Attraction:</strong> Khammam Fort.</li><li><strong>Nearby Places:</strong> Vijaywada, Warangal.</li><li><strong>Ideal Visit Time:</strong> less than a day.</li></ul>
    <p><strong>About Khammam</strong></p>
    <p>The city’s name ‘<strong>Khammam</strong>’ owes to the local derivation of the name of hill located in this area. The Godavari River covers an area of 250 kilometers in this area from the Warangal district. This is also rich in coal minerals and called the ‘Coal Town of South India’. The town is famous for its lakes, forts, temples and hot springs. The Kinnerasani Wildlife Sanctuary is a great place to visit which houses animals like tigers, pythons, jackals etc.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Khammam Fort</li><li>Kinnerasani Wildlife Sanctuary</li><li>Kallur</li><li>Lakaram Lake</li><li>Nelakondapalli</li><li>Sri Venkateshwara Swamy Temple</li><li>Perantalapalli</li><li>Gundala</li></ul>

</div>