<div class="card">
    <h1>Top 6 Places To Visit In Maharashtra</h1>
    <p>The Land of the Marathas, <strong>Maharashtra</strong> is the 2nd most populated and the 3rd largest state in India. The state is bordered by the Arabian Sea and the primary language spoken here is Marathi. Being in the western region of India, Maharashtra has been blessed with an abundant supply of natural resources and the significance of the region has been mentioned in the ancient texts. The state of Maharashtra has a unique location of being situated between the Arabian Sea and the Western Ghats. This makes the state a biodiverse region rich in flora and fauna. The Krishna, Godavari, Bhima etc. are the rivers that run through Maharashtra. The state is also the richest state in India and contributes 13.3% of the country’s GDP and 15% of the country’s Industrial output. It is thus a major state in India which has tons of places and attractions a tourist must explore.</p>
    <h2>1. Mumbai</h2>
    <img src=".\assets\maharashtra\mumbai.jpg" alt="Mumbai">
    <p></p>
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Heritage, Monuments, Shopping, Cuisine.</li><li><strong>Major Attraction:</strong> Elephanta Caves.</li><li><strong>Nearby Places:</strong> Lonavala, Khandala, Pune,</li><li><strong>Ideal Visit Time: </strong>2-3 days.</li></ul>
    <p><strong>About Mumbai</strong></p>
    <p>Formerly known as ‘<em><strong>Bombay</strong></em>’, <strong>Mumbai</strong> is the largest city and the capital of Maharashtra. It is also the most populated city in India and the 5th most populous city in the world. The city that we see today is a collection of 7 islands which were joined into a single metropolitan through land reclamation techniques in the 18th century under the rule of the British East India Company. The city is often nicknamed the Manhattan of India and is home to the famous Indian film industry or ‘Bollywood’.</p>
    <div></div>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Gateway of India</li><li>Elephanta Caves</li><li>Marine Drive</li><li>Chhatrapati Shivaji Terminus</li><li>Haji Ali Shrine</li><li>Sanjay Gandhi National Park</li><li>Chhatrapati Shivaji Maharaj Vastu Sangrahalaya</li><li>Markets of Mumbai</li><li>Global Vipassana Pagoda</li><li>Siddhivinayak Temple</li><li>Basilica of Our Lady of the Mount</li><li>Beaches of Mumbai</li><li>Flora Fountain</li><li>Dr Bhau Daji Lad Mumbai City Museum</li><li>Fort Bassein</li></ul>
    <p><strong>How to Reach</strong></p>
    <ul><li><strong>Air</strong></li></ul>
    <p>Chhatrapati Shivaji International Airport in the city is India’s second busiest airport. It is well connected both domestically and internationally.</p>
    <ul><li><strong>Rail</strong></li></ul>
    <p>Chhatrapati Shivaji Terminus railway station (CSTM) is the city’s major railway station with trains running to all cities of India at good frequency. Lokmanya Tilak Terminus railway station is the other major railway head in the city. Mumbai Suburban Railway serves the metropolitan area, with trains running at high frequency to all the areas within Mumbai.</p>
    <ul><li><strong>Road</strong></li></ul>
    <p>Mumbai has one of the best intercity bus network in India with about 2.3 million passengers commuting daily through its extensive bus network. Maharashtra State Road Transport Corporation (MSRTC) also runs interstate and intercity buses from Mumbai at good frequency. Buses run to and from Telangana, Gujrat, Karnataka, Goa and Madhya Pradesh.</p>

    <h2>2. Aurangabad</h2>
    <img src=".\assets\aurangabad\maharashtra\aurangabad.jpg" alt="Aurangabad">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>History, Heritage, Monuments.</li><li><strong>Major Attractions:</strong> Ajanta and Ellora Caves, Bibi ka Maqbara.</li><li><strong>Nearby Places:</strong> Shirdi, Nashik.</li><li><strong>Ideal Visit Time: </strong>2 days.</li></ul>
    <p><strong>About Aurangabad</strong></p>
    <p><strong>Aurangabad</strong> is named after the Mughal emperor Aurangzeb and is one of the most prominent tourist places in Maharashtra. The city is famous for its historical monuments and the ancient caves of Ajanta and Ellora which are a national heritage site. The culture of this town is heavily influenced by the Mughal and the Muslim culture of Hyderabad and Marathi and Urdu are the main languages spoken here. The city has various lakes and the special cuisines in this region of Maharashtra are mouth watering.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Ajanta Caves</li><li>Ellora Caves</li><li>Devgiri Fort</li><li>Ghrishneshwar Temple</li><li>Khuldabad</li><li>Bibi Ka Maqbara</li><li>Panchakki</li><li>Salim Ali Lake &amp; Bird Sanctuary</li><li>Jama Mosque</li><li>Aurangabad Caves</li></ul>
    <p><strong>How to Reach</strong></p>
    <ul><li><strong>Air</strong></li></ul>
    <p>Aurangabad Airport in the city is connected to Thiruvananthapuram, Bangalore, Mumbai, Hyderabad, Tirupati and Delhi.</p>
    <ul><li><strong>Rail</strong></li></ul>
    <p>Aurangabad railway station (AWB) is connected to all major cities of India and a cab can be taken from here to any part of the city.</p>
    <ul><li><strong>Road</strong></li></ul>
    <p>Maharashtra State Road Transport Corporation (MSRTC) runs interstate and intercity buses from Aurangabad at good frequency. Buses run to and from Telangana, Gujrat, Karnataka, Goa and Madhya Pradesh. NH 52 passes through the city.</p>

    <h2>3. Kohlapur</h2>
    <img src=".\assets\aurangabad\maharashtra\kohlapur.jpg" alt="Kohlapur">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Heritage, History, Kolhapuri chappal.</li><li><strong>Major Attraction:</strong> Mahalakshmi Temple.</li><li><strong>Nearby Places:</strong> Ratnagiri, Panjim.</li><li><strong>Ideal Visit Time: </strong>1 day.</li></ul>
    <p><strong>About Kolhapur</strong></p>
    <p>The city of <strong>Kolhapur</strong> is located at the banks of the Panchganga River and one of the Princely states of the Marathas. The city is considered to be the heart of the Maratha Empire and is famous for its various historical monuments and cultural heritage of the Marathi people. The climate is pleasant all year round with heavy rainfalls during the monsoons. The best time to visit the city is during any of the major Hindu festivals like Holi, Diwali, Ganesh Chaturthi, Vijaya Dashami and Navaratri. The special ‘kolhapuri slippers’ and the kolhapuri cuisines are worth trying out.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Mahalakshmi Temple</li><li>Jyotiba Temple</li><li>Rankala Lake</li><li>Chhatrapati Sahu Museum</li><li>Panhala Fort</li></ul>
    <p><strong>How to Reach</strong></p>
    <ul><li><strong>Air</strong></li></ul>
    <p>Chhatrapati Shivaji International Airport is the nearest airport with the best connectivity about 6 hr 29 min (376 km) away and is well connected both domestically and internationally. Take a cab from the airport to Kolhapur.</p>
    <ul><li><strong>Rail</strong></li></ul>
    <p>Chhatrapati Shahu Maharaj Terminus railway station (KOP) in Kolhapur is connected to all major cities of India and a cab can be taken from here to any part of the city.</p>
    <ul><li><strong>Road</strong></li></ul>
    <p>Maharashtra State Road Transport Corporation (MSRTC) runs interstate and intercity buses from Kolhapur at good frequency. NH 48, NH 166 and NH 204 pass through the city.</p>

    <h2>4. Mahabaleshwar</h2>
    <img src=".\assets\aurangabad\maharashtra\mahabaleshwar.jpg" alt="Mahabaleshwar">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Hill Station, Views, Nature, Temples.</li><li><strong>Major Attractions:</strong> Lingmala Waterfalls and Panchganga Temple.</li><li><strong>Nearby Places:</strong> Pune, Wai, Khandala.</li><li><strong>Ideal Visit Time: </strong>2 days.</li></ul>
    <p><strong>About Mahabaleshwar</strong></p>
    <p><strong>Mahabaleshwar</strong> is a hill station in Maharashtra and is located at the Western Ghats. The average elevation of the place is approximately 1,353 meters above sea level and is the source of the Krishna River. The water originates from a spout which is shaped like the mouth of a cow and is situated at an ancient temple of Lord Shiva. The city is a famous summer retreat for the people in Mumbai and is famous for its lakes and trekking hotspots.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Pratapgarh Fort</li><li>Pratap Garden</li><li>Afzal Khan Tomb</li><li>Old Mahabaleshwar</li><li>Bhawani Mandir</li></ul>
    <p><strong>How to Reach</strong></p>
    <ul><li><strong>Air</strong></li></ul>
    <p>Pune International Airport is the nearest airport with the best connectivity about 3 hrs (121 km) away and is well connected both domestically and internationally. Take a cab from the airport to Mahabaleshwar.</p>
    <ul><li><strong>Rail</strong></li></ul>
    <p>Satara railway station (STR) about 1 hr 22 min (56.6 km) is the nearest railway station. It is well connected to all major cities of India and a cab can be taken from here to any part of the city.</p>
    <ul><li><strong>Road</strong></li></ul>
    <p>Maharashtra State Road Transport Corporation (MSRTC) runs interstate and intercity buses from Satara, the nearest town at good frequency. The road journey via a cab from Satara to Mahabaleshwar will take approximately 1 hour.</p>

    <h2>5. Solapur</h2>
    <img src=".\assets\aurangabad\maharashtra\solapur.jpg" alt="Solapur">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Pilgrimage, Views.</li><li><strong>Major Attractions:</strong> Pandharpur and Baba Umer Dargah.</li><li><strong>Nearby Places:</strong> Satara, Vijaypur.</li><li><strong>Ideal Visit Time: </strong>2 days.</li></ul>
    <p><strong>About Solapur</strong></p>
    <p><strong>Solapur</strong> is located on the Karnataka state border and the main languages spoken here are Marathi and Kannada. The city is located at the Deccan plateau and enjoys a moderate and dry climate most of the year. The ancient temples and lakes are also a great place to visit in Solapur. The Siddeshwar Temple is an ancient temple built in the 16th century and is visited by an average of 35 lakh pilgrims in a year.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Akkalkot Swami Maharaj Temple</li><li>Shri Siddheshwar Temple</li><li>Great Indian Bustard Sanctuary</li><li>Solapur Fort</li><li>Pandharpur Temple</li></ul>
    <p><strong>How to Reach</strong></p>
    <ul><li><strong>Air</strong></li></ul>
    <p>Pune International Airport is the nearest airport with the best connectivity and is about 4 hrs 24 min (254 km) away. It is well connected both domestically and internationally. Take a cab or bus from the airport to Solapur.</p>
    <ul><li><strong>Rail</strong></li></ul>
    <p>Solapur railway station (SUR) is the nearest railway station. It is well connected to all major cities of India and a cab can be taken from here to any part of the city.</p>
    <ul><li><strong>Road</strong></li></ul>
    <p>Maharashtra State Road Transport Corporation (MSRTC) runs interstate and intercity buses from Solapur. NH 52 and NH 65 pass through the city.</p>

    <h2>6. Alibag</h2>
    <img src=".\assets\aurangabad\maharashtra\alibag.jpg" alt="Alibag">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>History, Sea, Forts.</li><li><strong>Major Attractions:</strong> Alibag Fort, Khanderi and Underi Islands.</li><li><strong>Nearby Places:</strong> Mumbai, Pune.</li><li><strong>Ideal Visit Time: </strong>1 day.</li></ul>
    <p><strong>About Alibag</strong></p>
    <p><strong>Alibag</strong> was developed under the Naval Chief of the Maratha Ruler Shivaji. It is a coastal town and is famous for its white sandy beaches which are often unpopulated and cleaner than Mumbai beaches. The attractions can be covered in a day or two and there are plenty of cheap and hospitable lodging facilities. The various temples are also worth visiting as they display a brilliant Hindu Maratha architecture.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Alibaug Beach</li><li>Nagaon Beach</li><li>Kanakeshwar Forest</li><li>Janjira Fort</li><li>Kanakeshwar Devasthan Temple</li></ul>
    <p><strong>How to Reach</strong></p>
    <ul><li><strong>Air</strong></li></ul>
    <p>Chhatrapati Shivaji International Airport is the nearest airport with the best connectivity about 140 kms away and is well connected both domestically and internationally. Take a cab from the airport to Alibag.</p>
    <ul><li><strong>Rail</strong></li></ul>
    <p>The nearest railway station with the best connectivity is the Panvel railway station (PNVL), 2 hrs (61.2 km) away. Take a cab or a taxi from here to Alibag.</p>
    <ul><li><strong>Road</strong></li></ul>
    <p>Maharashtra State Road Transport Corporation (MSRTC) runs interstate and intercity buses from Alibag at good frequency. NH66 and NH166A pass through the city.</p>

</div>