<div class="card">
    <h1>Top 5 Places To Visit In Uttar Pradesh</h1>
    <p><strong>Uttar Pradesh</strong>, which is referred to as the ‘Heartland of India’, boasts of a rich cultural heritage. The land offers feast to minds that love to explore – be it nature or history. It is not only gifted by nature but it is also home to some of the best man-made monuments. You need not command much of a geographical knowledge to recall that the majestic rivers Ganges and Yamuna flow through this state. Neither is the need to strain your history brain to remember Taj Mahal and Fatehpur Sikri when Uttar Pradesh is mentioned. The state has more to offer. Here are the top 5 <strong>places to visit in Uttar Pradesh</strong>.</p>

    <h2>1. Agra</h2>
    <img src=".\assets\UP\Taj Mahal.jpg" alt="Taj Mahal">
    <p>It might sound odd that Agra overtakes Lucknow, the capital of Uttar Pradesh. It is no wonder, considering the fact that Agra is home to the world famous Taj Mahal. This ancient city has wonderful monuments making you awestruck by the sheer brilliance behind the construction. Here are some top attractions for you to visit in Agra.</p>
    <ul><li>Taj Mahal</li><li>Agra Fort</li><li>Itmad-Ud-Daula</li><li>Fatehpur Sikri</li><li>Wildlife SOS</li><li>Sikandara</li><li>Aram Bagh</li><li>Khas Mahal</li><li>Panch Mahal</li><li>Musamman Burj</li><li>Jama Masjid</li><li>Agra Art Gallery</li><li>Mehtab Bagh</li></ul>

    <h2>2. Lucknow</h2>
    <img src=".\assets\UP\Great-Imambara-Lucknow-Uttar-Pradesh-India.jpg" alt="Great-Imambara">
    <p>The capital of Uttar Pradesh and famously referred to as ‘<em><strong>The city of Nawabs</strong></em>’, <strong>Lucknow</strong> retains its ancient charm with such authority that you will find yourself in a different world. It was the capital of Nawabs of Awadh. The city enjoyed the generosity of the Nawabs and hence flourished in music, literature, arts and crafts. Given below are some of the important attractions in Lucknow.</p>
    <ul><li>Bara Imambara</li><li>British Residency</li><li>Chhota Imambara</li><li>Lucknow Zoo</li><li>Dr. Ambedkar Park</li><li>Hazratganj</li><li>Constantia House</li><li>Lucknow Museum</li><li>Rumi Darwaza</li><li>Chattar Manzil</li><li>Begum Hazrat Mahal Park</li></ul>

    <h2>3. Varanasi</h2>
    <img src=".\assets\UP\Varanasi.jpg" alt="Varanasi">
    <p>‘The Religious Capital of India’ as <strong>Varanasi</strong> is called, is frequented by pilgrims from various parts of the world. Considered one amongst the seven holy spots for those who follow Hinduism, the land attracts those who belong to other faiths too. It lies on the banks of the river Ganges, which adds magic to the atmosphere. Given below are the top tourist spots in Varanasi.</p>
    <ul><li>River Ganges</li><li>Kashi Vishwanath Temple</li><li>Sarnath</li><li>Manikarnika Ghat</li><li>Archaeological Museum</li><li>Man Mandir Ghat</li><li>Chaumsathi Ghat</li><li>Ramnagar Fort</li><li>Chunar Fort</li><li>Banaras Ghats</li></ul>

    <h2>4. Allahabad</h2>
    <img src=".\assets\UP\Allahabad.jpg" alt="Allahabad">
    <p>For those who follow Hinduism, <strong>Allahabad</strong> is an important pilgrim center as Lord Brahma, the creator according to Hinduism, landed at this place on earth. The city is located at the confluence of three rivers namely Ganges, Yamuna and Saraswathi. This ancient city, also called as Prayag, witnesses one of the largest gatherings of religious nature during Kumbh Mela once every 12 years. Here are the top attractions in Ahmedabad.</p>
    <ul><li>Triveni Sangam</li><li>Khusro Bagh</li><li>Allahabad Museum</li><li>Allahabad Fort</li><li>Patalpuri Temple And Akshaya Vat</li><li>Jawahar Planetarium</li><li>Anand Bhavan</li></ul>

    <h2>5. Kanpur</h2>
    <img src=".\assets\UP\Kanpur-travel.jpg" alt="Kanpur">
    <p>On the banks of the River Ganges lies <strong>Kanpur</strong>, the biggest city in the state of Uttar Pradesh. It was earlier called Manchester of the country. Being a major industrial center, Kanpur is now referred to as the commercial capital of Uttar Pradesh. Some of the important tourist attractions in Kanpur include:</p>
    <ul><li>Bithoor</li><li>Jajmau</li><li>Boodha Bargad</li><li>Kanpur Gardens</li><li>Shri Radhakrishna Temple</li><li>Jain Glass Temple</li><li>Mecca Masjid</li><li>Allen Forest Zoo</li><li>Agricultural Gardens</li></ul>
    
</div>