<div class="card">
    <h1>Top 5 Places To Visit In Orissa(Odisha)</h1>
    <p><strong>Orissa</strong>, now known as <strong><em>Odisha</em></strong>, is an ancient land with a rich history. Monuments that reflect amazing architecture compete with the limitless beauty of the land to attract tourists from all parts of the world. The ancient temples are more than an association with religious beliefs; their architectural splendor reflects the skills possessed by the artisans of the land in the bygone era. Here are the top 10 <strong>attractions in Orissa</strong>.<span id="more-2006"></span></p>

    <h2>1. Bhubaneshwar</h2>
    <img src=".\assets\Odisha\Bhubaneshwar.jpg" alt="Bhubaneshwar">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Temples, Heritage, Cuisine.</li><li><strong>Major Attraction:</strong> Lingaraj Temple.</li><li><strong>Nearby Places:</strong> Cuttack, Puri.</li><li><strong>Ideal Visit Time: </strong>2 days.</li></ul>
    <p><strong>About Bhubaneswar</strong></p>
    <p><strong>Temple city of India</strong> – This is how <strong>Bhubaneswar</strong>, the capital of Orissa is famously called. The land, which is over 2500 years old, is a blend of ancient monuments and modern constructions. It is believed that Bhubaneswar had over 2000 temples in the past. Many of them were destroyed by Muslim invaders, but thankfully, a few important ones like Lingaraja temple still stand. The temples are built in Kalinga style of architecture which is unique to Odisha. Bhubaneshwar also has some buddhist sites, due to the influence of Ashoka the great, who embraced Buddhism here after The Kalinga War.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Parasurameswara Temple</li><li>Mukteswar Temple</li><li>Lingaraja Temple</li><li>Udayagiri and Khandgiri Caves</li><li>Dhauli Hill</li><li>Nandankanan Zoological Park</li><li>Odisha State Museum</li><li>Ananta Vasudeva Temple</li><li>Astasambhu Siva Temples</li><li>Ram Mandir</li></ul>

    <h2>2. Cuttack</h2>
    <img src=".\assets\Odisha\Cuttack.jpg" alt="Cuttack">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>History, Heritage, Culture.</li><li><strong>Major Attraction:</strong> Kataka Chandi.</li><li><strong>Nearby Places:</strong> Bhubneshwar, Puri.</li><li><strong>Ideal Visit Time: </strong>2 days.</li></ul>
    <p><strong>About Cuttack</strong></p>
    <p>Former capital of Orissa and now it’s business capital, <strong>Cuttack</strong>, is also one of the ancient cities of the state. Ancient monuments apart, Cuttack has a wide range of tourist attractions as it is home to picturesque destinations and pilgrim centers. It is famous for handicrafts and cuisines too.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Kataka Chandi Temple</li><li>Lalitgiri</li><li>Barabati fort</li><li>Bhitarkanika Mangroves</li><li>Netaji Birthplace Museum</li></ul>

    <h2>3. Puri</h2>
    <img src=".\assets\Odisha\Puri.jpg" alt="Puri">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Lord Jagannath, Beach.</li><li><strong>Major Attraction:</strong> Puri Jagannath Temple.</li><li><strong>Nearby Places:</strong> Konark, Cuttack.</li><li><strong>Ideal Visit Time: </strong>Less than 1 day.</li></ul>
    <p><strong>About Puri</strong></p>
    <p>For those with a particular religious faith, <strong>Puri</strong> might bring to mind the famous Jagannath Temple and the Sun Temple. For nature lovers, the beautiful beaches in the land may hold attraction. The vibrant land is famous for many festivals being a temple-rich place and it enjoys heavy footprints from all parts of the world.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Jagannath Temple</li><li>Puri Beach</li><li>Chilika Wildlife Sanctuary</li><li>Gundicha Ghar Temple</li><li>Atharnala Bridge</li><li>Pipili</li></ul>

    <h2>4. Rourkela</h2>
    <img src=".\assets\Odisha\rourkela.jpg" alt="Rourkela">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Heritage, Steel Plant, Hills, Nature.</li><li><strong>Major Attractions:</strong> Hanuman Vatika, Khandadhar Falls.</li><li><strong>Nearby Places:</strong> Sambalpur, Raigarh, Jharsuguda.</li><li><strong>Ideal Visit Time: </strong>1 day.</li></ul>
    <p><strong>About Rourkela</strong></p>
    <p><strong>Rourkela</strong>, the second largest city in Orissa, is immediately recalled at the mention of steel plants. Home to largest steel plants in India, the place gives you an insight into its rich cultural past through some of its wonderful tourist destinations.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Vedavyas Temple</li><li>Vaishno Devi Temple</li><li>Badaghagra Falls</li><li>Khandadhar Falls</li></ul>

    <h2>5. Konark</h2>
    <img src=".\assets\Odisha\Konark.jpg" alt="Konark">
    <p><strong>Visitor Information</strong></p>
    <ul><li><strong>Famous for: </strong>Heritage, Temples, Beach.</li><li><strong>Major Attraction:</strong> Konark Sun Temple.</li><li><strong>Nearby Places:</strong> Puri, Cuttack, Bhubneshwar.</li><li><strong>Ideal Visit Time: </strong>6 hours.</li></ul>
    <p><strong>About Konark</strong></p>
    <p>It is natural that your mind races to Sun Temple when you think of <strong>Konark</strong>. The 13th century temple stands tall in the minds of tourists in spite of the fact that it is now in ruins. Konark has a few other ancient temples on its land for both history lovers and religious minds.</p>
    <p><strong>Places to Visit</strong></p>
    <ul><li>Sun Temple</li><li>Konark Beach</li><li>Konark Museum</li><li>Ramachandi Temple</li><li>Balukhand-Konark Wildlife Sanctuary.</li></ul>
</div>