<div class="card">
    <h1>Top 10 Tourist Destinations in Jammu and Kashmir</h1>
    <p></p>
    <img src=".\assets\Jammu\Jammu & Kashmir.jpg" alt="Jammu & Kashmir">
    <p>Top 10 Tourist Destinations in Jammu and Kashmir
        Jammu & Kashmir tourism has been described as a paradise so many times that one feels it is the ultimate homage you could pay to it. But somehow, there is a vagueness in it which does not do justice to this part of the country.
        
        What is paradise in Jammu & Kashmir? It is its alpine meadows, crystal clear lakes, amber hues of the trees during autumn, boathouses, gondolas, apple orchards and everything else that is a part of its landscape.</p>

    <h2>1. Yusmarg</h2>
    <img src=".\assets\Jammu\Yusmarg.jpg" alt="Yusmarg">
    <p>Yusmarg is a hill station in the western part of the valley of Kashmir. The Ahmadiyya Muslim community believes it to be the place where Jesus once lived. The landscape here is more beautiful than anything you will ever see.

        There are plenty of options for sightseeing and trying out activities like trekking and horse riding.</p>
    <h4>Places to Visit</h4>
    <ul> <li>Pakherpora Shrine</li> <li>Charar-e-Sharif</li> <li>Doodhganga</li> <li>Nilnag Lake</li> <li>Sang-e-Safed</li> </ul>

    <h2>3. Gulmarg</h2>
    <img src=".\assets\Jammu\Gulmarg.jpg" alt="Gulmarg">
    <p>Gulmarg has everything going for it: snowdressed mountains, greenery, lakes, pine & fir forests and different types of flowers. It is snug in a valley in the Pir Panjal Range. Its name means, the meadows of flowers, and you will come across a lot of meadows decorated with daisies. Most of all though, Gulmarg is the best skiing destination in Asia, has the highest green golf course in the world as well as the highest cable car project.</p>
    <h4>Places to Visit</h4>
    <ul> <li>St. Mary’s Church</li> <li>Baba Reshi Shrine</li> <li>Maharani Temple/Shiva Temple</li> </ul>

    <h2>4. Sonmarg</h2>
    <img src=".\assets\Jammu\Sonmarg.jpg" alt="Sonmarg">
    <p>Sonmarg means a “meadow of gold”, is one of the best tourist places in Jammu and Kashmir for sightseeing & adventure. Its landscape is marked by a glacier, forests and snow capped mountains.</p>
    <p>The three Great Lakes in Kashmir: Kishansar, Vishansar and Gadsar, can be visited from here. Camping & trout fishing are some adventure activities that are popular. Sonmarg is also the starting point for the trek to Amarnath Cave, a major Hindu pilgrimage destination.</p>
    <h4>Places to Visit</h4>
    <ul> <li>Thajiwas Glacier</li> <li>Baltal Valley (close to Sonmarg)</li> <li>Amarnath Cave</li> <li>Naranag</li> <li>Kishansar Lake</li> <li>Vishansar Lake</li> <li>Gadsar Lake</li> </ul>

    <h2>5. Pahalgam</h2>
    <img src=".\assets\Jammu\Pahalgam.jpg" alt="Pahalgam">
    <p>Any tourist visiting the top 10 places in Jammu and Kashmir will always visit Pahalgam. Located in the Anantnag district, it is located on the banks of the River Lidder.</p>
    <p>It is a visual treat with its meadows, forests and pristine environment. Aru Valley, Betab Valley and Baisaran are some of the places which make Pahalgam the best in Kashmir for a sightseeing tour.</p>
    <h4>Places to Visit</h4>
    <ul> <li>Aru Valley</li> <li>Betaab Valley</li> <li>Baisaran</li> <li>Sheikhpora</li> </ul>

    <h2>6. Gurez Valley</h2>
    <img src=".\assets\Jammu\Gurez Valley.jpg" alt="Gurez Valley">
    <p>For six months, the Gurez Valley is cut off from the rest of the world, and that enhances its appeal as a famous tourist destination in Jammu and Kashmir. The people who live here are one of the oldest tribes in Kashmir called the Dard Shin Tribe and speak a language called Shina.</p>
    <p>The picturesque valley is surrounded by snow capped mountains, meadows clothed with lindens, walnut and willow trees and the raging river Kishan Ganga.    </p>
    <h4>Places to Visit</h4>
    <ul> <li>Peer Baba Shrine</li> <li>Habba Khatoon Peak</li> </ul>

    <h2>7. Srinagar</h2>
    <img src=".\assets\Jammu\Srinagar.jpg" alt="Srinagar">
    <p>Srinagar finds a place on this list because it is one of the most famous tourist destinations in Jammu and Kashmir as well as the top honeymoon destination.</p>
    <p>The presence of many Mughal Gardens, religious & historical sites as well as Dal & Nageen Lakes has led Srinagar to being called the “Land of Gardens and Lakes.” Among the other things that will surprise you, one is the floating vegetable market on Dal Lake. The largest Tulip gardens in Asia are also in Srinagar.</p>
    <h4>Places to Visit</h4>
    <ul> <li>Mughal Gardens</li> <li>Tulip Gardens</li> <li>Hari Parbat Fort</li> <li>Pari Mahal</li> <li>Kahnqah Shah-i-Hamadan</li> <li>Hazratbal Shrine</li> <li>Shankaracharya Temple</li> <li>Kheer Bhawani Temple</li> </ul>

    <h2>8. Vaishno Devi</h2>
    <img src=".\assets\Jammu\Vaishno Devi.jpg" alt="Vaishno Devi">
    <p>Those who are spiritually inclined should not miss out on visiting Vaishno Devi, a major Hindu pilgrimage destination in India. The temple stands on the Trikuta Hills in Jammu. The Mother Goddess, who is the main deity, is believed to fulfil the wishes of her devotees.</p>
    <p>To reach the temple, you will have to take a trek of nearly 14 kilometers which starts from the Ban Ganga bridge. Other options are battery operated cars, ponies, palkies and helicopter rides to Mata Vaishno Devi Temple.</p>
</div>