<div class="card">
    <h1>Top 4 Places To Visit In Meghalaya</h1>
    <p></p>
    <p>Meghalaya, a full fledged state since 1972 when carved out of Assam, is one of the most beautiful places in India. Situated in the north eastern part of the country, scenic Meghalaya with <a href="//www.transindiatravels.com/meghalaya/hill-stations-in-meghalaya/">majestic hills</a>, spectacular waterfalls, dense forests and valleys is a heaven to nature lovers. Meghalaya means ‘<em>The abode of clouds</em>’ and on visiting the place, you are sure to see for yourself that the land was rightly named thus. Here are the top 4 places to visit in Meghalaya.<span id="more-2005"></span></p>
    <h2>1. Shillong</h2>
    <img src=".\assets\Meghalaya\shillong.jpg" alt="shillong">
    <p>Shillong, the capital city, is famous for its spectacular beauty. Popularly known as the ‘<em>Scotland of the East</em>’ as it resembles the Scottish lands, Shillong’s landscape has to be seen to be believed. It is the only hill station in India that has accessible routes from all sides. Here are the leading attractions in Shillong.</p>
    <ul><li>Shillong Peak</li><li>Don Bosco Centre for Indigenous Culture</li><li>Elephant Falls</li><li>Laitlum Canyons</li><li>Mawlyngbna</li><li>Mawlynnong Waterfalls</li><li>Sweet Falls</li><li>Spread Eagle Falls</li><li>Mawphlang Falls</li><li>Mawphlang Sacred Forest</li><li>Mawjymbuin Cave</li><li>India Orchidarium and Botanical Garden</li><li>Lady Hydari Park</li><li>Crinoline Falls</li><li>David Scott Trail</li><li>Ward’s Lake</li><li>Umiam Lake</li></ul>

    <h2>2. Cherrapunji</h2>
    <img src=".\assets\Meghalaya\Cherrapunji.jpg" alt="Cherrapunji">
    <p>Cherrapunji boasts of being the second wettest place on earth. It may have lost its first place to Mawsynram, which is 16 km away from Cherrapunji, but it has won the hearts of tourists thanks to its picturesque landscapes. With Mother Nature being lavish in her offerings to this land, you are sure to find Cherrapunji to be a heaven on earth. The land is also the only place in the country to receive rainfall round the year. Here are the leading attractions in Cherrapunji.</p>
    <ul><li>Nohkalikai Falls</li><li>Mawsmai Cave</li><li>Mawmluh Cave</li><li>Krem Phyllut Cave</li><li>Dain-Thlen Falls</li><li>Kynrem Falls</li><li>Nohsngithiang Falls</li><li>Eco Park</li><li>Cherrapunji Theological College at Nongsawlia</li><li>Thangkharang Park</li><li>Khoh Ramhah or Basket of the Giant</li></ul>

    <h2>3. Tura</h2>
    <img src=".\assets\Meghalaya\Tura.jpg" alt="Tura">
    <p>Tura is no exception to the rule of Meghalaya where nature is concerned. Everything about the place is beautiful. Many parts of Tura, the valley at the foothills of Tura, have not seen human footprints. Such is the depth and abundance of nature here. Given below are some of the most popular tourist destinations in Tura.</p>
    <ul>
        <li>Balpakram National Park</li><li>Tura Peak</li><li>Arbella Peak</li><li>Nokrek National Park</li><li>Pelga Falls</li><li>Naphak Lake</li><li>Siju Caves</li><li>Wadagokgre</li><li>Imilchang Dare Falls</li></ul>

    <h2>4. Williamnagar</h2>
    <img src=".\assets\Meghalaya\WILLIAMNAGAR.jpg" alt="Williamnagar">
    <p>Williamnagar is a dream destination to nature lovers, bird watchers and adventure seekers. Unexplored forests and stunning greenery make the place the most sought after destination. It is a perfect place to unwind. Adventure seekers can go hiking and trekking. Here are some of the top destinations in Williamnagar.</p>
    <ul><li>Simsang River</li><li>Napak Lake</li><li>Naka-Chikong</li><li>Domre Falls</li><li>Tasek Lake</li></ul>
</div>